In [220]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [221]:
df_2016_weather = pd.read_csv('C:/app/TeamProject/origin_weather_Data/종기상관측_ASOS_2016.csv', encoding = 'cp949')
df_2017_weather = pd.read_csv('C:/app/TeamProject/origin_weather_Data/종기상관측_ASOS_2017.csv', encoding = 'cp949')
df_2018_weather = pd.read_csv('C:/app/TeamProject/origin_weather_Data/종기상관측_ASOS_2018.csv', encoding = 'cp949')

In [147]:
df_2016_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34496 entries, 0 to 34495
Data columns (total 12 columns):
지점              34496 non-null int64
지점명             34496 non-null object
일시              34496 non-null object
평균기온(°C)        34470 non-null float64
최저기온(°C)        34493 non-null float64
최고기온(°C)        34495 non-null float64
강수 계속시간(hr)     3267 non-null float64
일강수량(mm)        13323 non-null float64
평균 풍속(m/s)      34493 non-null float64
최다풍향(16방위)      34448 non-null float64
평균 현지기압(hPa)    34465 non-null float64
일 최심신적설(cm)     213 non-null float64
dtypes: float64(9), int64(1), object(2)
memory usage: 3.2+ MB

In [148]:
print(df_2016_dust[df_2016_weather['평균기온(°C)'].isnull()])
print(df_2016_dust[df_2016_weather['최저기온(°C)'].isnull()])
print(df_2016_dust[df_2016_weather['강수 계속시간(hr)'].isnull()])
print(df_2016_dust[df_2016_weather['일강수량(mm)'].isnull()])
print(df_2016_dust[df_2016_weather['평균 풍속(m/s)'].isnull()])
print(df_2016_dust[df_2016_weather['최다풍향(16방위)'].isnull()])
print(df_2016_dust[df_2016_weather['평균 현지기압(hPa)'].isnull])
print(df_2016_dust[df_2016_weather['일 최심신적설(cm)'].isnull])
print(df_2016_dust[df_2016_weather['최고기온(°C)'].isnull])

        지점  지점명          일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  강수 계속시간(hr)  \
1507    99   파주  2016-11-13       NaN       8.0      18.9          NaN
1820   100  대관령  2016-09-21       NaN       8.5      16.8          NaN
5692   121   영월  2016-04-20       NaN       5.1      21.5          NaN
7879   135  추풍령  2016-04-11       NaN       6.0      13.3          NaN
13368  170   완도  2016-04-10       NaN       9.7      17.8          NaN
13997  172   고창  2016-12-29       NaN      -2.6       2.3          NaN
14942  177   홍성  2016-07-29       NaN      23.1      27.5          NaN
19442  217  정선군  2016-11-14       NaN       5.2      17.4          NaN
24771  254  순창군  2016-06-06       NaN      17.0      21.6          NaN
25274  255  북창원  2016-10-21       NaN      15.2      18.8          NaN
25588  257  양산시  2016-08-30       NaN      17.5      27.1          NaN
27835  263  의령군  2016-10-20       NaN      11.3      22.3          NaN
27836  263  의령군  2016-10-21       NaN      13.0      17.8          NaN
29338  271   봉화  2016-11-28       NaN      -5.6       6.1          NaN
29903  273   문경  2016-06-14       NaN      19.0      28.2          NaN
30825  277   영덕  2016-12-21       NaN       4.2      15.4          NaN
31557  279   구미  2016-12-21       NaN       2.6       7.0          NaN
31756  281   영천  2016-07-07       NaN      19.2      33.2          NaN
31946  283  경주시  2016-01-13       NaN      -3.4       3.2          NaN
31959  283  경주시  2016-01-26       NaN      -6.1       4.9          NaN
31975  283  경주시  2016-02-11       NaN      -4.1      10.6          NaN
33105  288   밀양  2016-03-14       NaN      -0.9      12.8          NaN
33909  294   거제  2016-05-25       NaN      16.2      27.1          NaN
34006  294   거제  2016-08-30       NaN      19.0      28.6          NaN
34106  294   거제  2016-12-08       NaN       1.8      10.7          NaN
34392  295   남해  2016-09-19       NaN      19.2      24.3          NaN

       일강수량(mm)  평균 풍속(m/s)  최다풍향(16방위)  평균 현지기압(hPa)  일 최심신적설(cm)
1507        0.0         0.9       110.0           NaN          NaN
1820        NaN         2.2         NaN           NaN          NaN
5692        0.8         1.0         NaN           NaN          NaN
7879        NaN         3.4         NaN           NaN          NaN
13368       NaN         1.8        90.0        1009.0          NaN
13997       0.5         2.7         NaN           NaN          NaN
14942       NaN         1.1         NaN           NaN          NaN
19442       0.0         0.7         NaN           NaN          NaN
24771       0.4         0.9       270.0         998.2          NaN
25274       0.0         2.1         NaN           NaN          NaN
25588       NaN         2.5       270.0           NaN          NaN
27835       NaN         0.5         NaN           NaN          NaN
27836       NaN         0.7         NaN           NaN          NaN
29338       NaN         1.3         NaN           NaN          NaN
29903       5.0         1.2         NaN           NaN          NaN
30825      10.0         1.8         NaN           NaN          NaN
31557       0.5         0.4         NaN           NaN          NaN
31756       0.5         1.5         NaN           NaN          NaN
31946       NaN         3.6         NaN           NaN          NaN
31959       NaN         3.1         NaN           NaN          NaN
31975       NaN         0.9         NaN           NaN          NaN
33105       NaN         0.8       360.0           NaN          NaN
33909       NaN         0.8         NaN           NaN          NaN
34006       NaN         2.6         NaN           NaN          NaN
34106       NaN         0.8         NaN           NaN          NaN
34392       0.0         2.2         NaN           NaN          NaN
        지점  지점명          일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  강수 계속시간(hr)  \
828     98  동두천  2016-01-05      -2.2       NaN       3.1          NaN
12186  165   목포  2016-01-17       4.3       NaN       6.8         9.65
23168  248   장수  2016-01-19      -9.4       NaN      -6.7          NaN

       일강수량(mm)  평균 풍속(m/s)  최다풍향(16방위)  평균 현지기압(hPa)  일 최심신적설(cm)
828         NaN         2.0       320.0        1013.4          NaN
12186       6.7         1.6        20.0        1011.7          NaN
23168       1.0         4.6       340.0         970.6          NaN
        지점 지점명          일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  강수 계속시간(hr)  \
0       90  속초  2016-01-01       3.6      -2.3       7.6          NaN
1       90  속초  2016-01-02       8.4       5.0      11.5          NaN
2       90  속초  2016-01-03       6.7       2.4       9.8          NaN
3       90  속초  2016-01-04       5.4       0.8       9.0          NaN
4       90  속초  2016-01-05       0.6      -2.6       4.4          NaN
...    ...  ..         ...       ...       ...       ...          ...
34491  295  남해  2016-12-27       3.8      -1.1       7.4          NaN
34492  295  남해  2016-12-28       0.9      -3.4       7.1          NaN
34493  295  남해  2016-12-29       1.5      -2.7       5.6          NaN
34494  295  남해  2016-12-30       0.5      -4.4       6.7          NaN
34495  295  남해  2016-12-31       3.4      -1.3       9.3          NaN

       일강수량(mm)  평균 풍속(m/s)  최다풍향(16방위)  평균 현지기압(hPa)  일 최심신적설(cm)
0           NaN         2.3       290.0        1024.2          NaN
1           NaN         3.1       270.0        1017.0          NaN
2           NaN         1.9       290.0        1015.6          NaN
3           NaN         2.7       290.0        1017.2          NaN
4           NaN         2.5       290.0        1021.4          NaN
...         ...         ...         ...           ...          ...
34491       1.0         2.3       290.0        1014.9          NaN
34492       NaN         0.8       250.0        1022.6          NaN
34493       NaN         1.4       270.0        1022.7          NaN
34494       NaN         0.8       250.0        1025.7          NaN
34495       NaN         0.9       250.0        1024.2          NaN

[31229 rows x 12 columns]
        지점 지점명          일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  강수 계속시간(hr)  \
0       90  속초  2016-01-01       3.6      -2.3       7.6          NaN
1       90  속초  2016-01-02       8.4       5.0      11.5          NaN
2       90  속초  2016-01-03       6.7       2.4       9.8          NaN
3       90  속초  2016-01-04       5.4       0.8       9.0          NaN
4       90  속초  2016-01-05       0.6      -2.6       4.4          NaN
...    ...  ..         ...       ...       ...       ...          ...
34489  295  남해  2016-12-25       5.6       0.0       9.9          NaN
34492  295  남해  2016-12-28       0.9      -3.4       7.1          NaN
34493  295  남해  2016-12-29       1.5      -2.7       5.6          NaN
34494  295  남해  2016-12-30       0.5      -4.4       6.7          NaN
34495  295  남해  2016-12-31       3.4      -1.3       9.3          NaN

       일강수량(mm)  평균 풍속(m/s)  최다풍향(16방위)  평균 현지기압(hPa)  일 최심신적설(cm)
0           NaN         2.3       290.0        1024.2          NaN
1           NaN         3.1       270.0        1017.0          NaN
2           NaN         1.9       290.0        1015.6          NaN
3           NaN         2.7       290.0        1017.2          NaN
4           NaN         2.5       290.0        1021.4          NaN
...         ...         ...         ...           ...          ...
34489       NaN         0.8       250.0        1023.5          NaN
34492       NaN         0.8       250.0        1022.6          NaN
34493       NaN         1.4       270.0        1022.7          NaN
34494       NaN         0.8       250.0        1025.7          NaN
34495       NaN         0.9       250.0        1024.2          NaN

[21173 rows x 12 columns]
        지점 지점명          일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  강수 계속시간(hr)  \
12071  162  통영  2016-09-24      22.0      18.6      27.3          NaN
12072  162  통영  2016-09-25      23.0      19.1      28.1          NaN
12073  162  통영  2016-09-26      23.7      21.9      26.4          NaN

       일강수량(mm)  평균 풍속(m/s)  최다풍향(16방위)  평균 현지기압(hPa)  일 최심신적설(cm)
12071       NaN         NaN         NaN        1012.5          NaN
12072       NaN         NaN         NaN        1012.7          NaN
12073       1.5         NaN         NaN        1012.4          NaN
        지점  지점명          일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  강수 계속시간(hr)  \
1820   100  대관령  2016-09-21       NaN       8.5      16.8          NaN
3381   105   강릉  2016-12-27       1.0      -2.5       4.3          NaN
3382   105   강릉  2016-12-28       0.5      -4.0       5.8          NaN
5692   121   영월  2016-04-20       NaN       5.1      21.5          NaN
7879   135  추풍령  2016-04-11       NaN       6.0      13.3          NaN
8697   137   상주  2016-07-06      24.6      22.7      28.4          NaN
12070  162   통영  2016-09-23      21.2      17.2      26.9          NaN
12071  162   통영  2016-09-24      22.0      18.6      27.3          NaN
12072  162   통영  2016-09-25      23.0      19.1      28.1          NaN
12073  162   통영  2016-09-26      23.7      21.9      26.4          NaN
13711  172   고창  2016-03-18      11.1       8.0      16.3          NaN
13712  172   고창  2016-03-19       7.9       3.4      13.5          NaN
13713  172   고창  2016-03-20       5.9       0.0      14.2          NaN
13714  172   고창  2016-03-21       6.8       1.5      15.0          NaN
13715  172   고창  2016-03-22       6.7       0.3      14.4          NaN
13997  172   고창  2016-12-29       NaN      -2.6       2.3          NaN
14942  177   홍성  2016-07-29       NaN      23.1      27.5          NaN
14945  177   홍성  2016-08-01      27.1      23.6      31.7          NaN
14946  177   홍성  2016-08-02      26.4      24.3      30.3          NaN
14947  177   홍성  2016-08-03      27.1      23.0      32.5          NaN
14948  177   홍성  2016-08-04      28.6      23.3      33.4          NaN
15537  185   고산  2016-03-14       6.5       5.3       8.1          NaN
19442  217  정선군  2016-11-14       NaN       5.2      17.4          NaN
24308  253  김해시  2016-03-01       0.9      -3.7       7.6          NaN
25274  255  북창원  2016-10-21       NaN      15.2      18.8          NaN
25618  257  양산시  2016-09-29      19.3      18.1      21.5          NaN
25842  258  보성군  2016-05-10      15.2      13.6      16.9          NaN
27835  263  의령군  2016-10-20       NaN      11.3      22.3          NaN
27836  263  의령군  2016-10-21       NaN      13.0      17.8          NaN
29131  271   봉화  2016-05-05      15.1       4.8      25.0          NaN
29338  271   봉화  2016-11-28       NaN      -5.6       6.1          NaN
29638  272   영주  2016-09-23      17.2      11.3      25.9          NaN
29902  273   문경  2016-06-13      23.8      18.9      30.9          NaN
29903  273   문경  2016-06-14       NaN      19.0      28.2          NaN
30825  277   영덕  2016-12-21       NaN       4.2      15.4          NaN
31334  279   구미  2016-05-12      18.6      11.4      26.7          NaN
31557  279   구미  2016-12-21       NaN       2.6       7.0          NaN
31756  281   영천  2016-07-07       NaN      19.2      33.2          NaN
31946  283  경주시  2016-01-13       NaN      -3.4       3.2          NaN
31957  283  경주시  2016-01-24     -10.0     -12.9      -7.0          NaN
31959  283  경주시  2016-01-26       NaN      -6.1       4.9          NaN
31975  283  경주시  2016-02-11       NaN      -4.1      10.6          NaN
32000  283  경주시  2016-03-07       9.0       2.7      16.3          NaN
32020  283  경주시  2016-03-27       6.8      -0.1      15.1          NaN
33909  294   거제  2016-05-25       NaN      16.2      27.1          NaN
34006  294   거제  2016-08-30       NaN      19.0      28.6          NaN
34106  294   거제  2016-12-08       NaN       1.8      10.7          NaN
34392  295   남해  2016-09-19       NaN      19.2      24.3          NaN

       일강수량(mm)  평균 풍속(m/s)  최다풍향(16방위)  평균 현지기압(hPa)  일 최심신적설(cm)
1820        NaN         2.2         NaN           NaN          NaN
3381       23.0         1.2         NaN        1016.8          NaN
3382        NaN         2.6         NaN        1023.9          NaN
5692        0.8         1.0         NaN           NaN          NaN
7879        NaN         3.4         NaN           NaN          NaN
8697       50.1         1.1         NaN        1002.6          NaN
12070       NaN         2.1         NaN        1013.3          NaN
12071       NaN         NaN         NaN        1012.5          NaN
12072       NaN         NaN         NaN        1012.7          NaN
12073       1.5         NaN         NaN        1012.4          NaN
13711      16.4         2.3         NaN        1005.6          NaN
13712       NaN         0.0         NaN        1009.9          NaN
13713       NaN         3.9         NaN        1015.3          NaN
13714       NaN         0.0         NaN        1017.6          NaN
13715       NaN         1.1         NaN        1014.0          NaN
13997       0.5         2.7         NaN           NaN          NaN
14942       NaN         1.1         NaN           NaN          NaN
14945       0.0         0.9         NaN        1007.4          NaN
14946       0.0         0.8         NaN        1006.0          NaN
14947       0.0         0.9         NaN        1006.0          NaN
14948       0.0         0.8         NaN        1006.5          NaN
15537       NaN         7.3         NaN        1012.7          NaN
19442       0.0         0.7         NaN           NaN          NaN
24308       NaN         2.7         NaN        1020.3          NaN
25274       0.0         2.1         NaN           NaN          NaN
25618       8.5         3.8         NaN        1016.6          NaN
25842      31.0         1.3         NaN        1004.8          NaN
27835       NaN         0.5         NaN           NaN          NaN
27836       NaN         0.7         NaN           NaN          NaN
29131       NaN         2.5         NaN         976.1          NaN
29338       NaN         1.3         NaN           NaN          NaN
29638       NaN         1.5         NaN         993.2          NaN
29902       NaN         1.0         NaN         982.2          NaN
29903       5.0         1.2         NaN           NaN          NaN
30825      10.0         1.8         NaN           NaN          NaN
31334       NaN         0.9         NaN        1007.4          NaN
31557       0.5         0.4         NaN           NaN          NaN
31756       0.5         1.5         NaN           NaN          NaN
31946       NaN         3.6         NaN           NaN          NaN
31957       NaN         3.7         NaN        1017.9          NaN
31959       NaN         3.1         NaN           NaN          NaN
31975       NaN         0.9         NaN           NaN          NaN
32000       NaN         1.8         NaN        1014.3          NaN
32020       NaN         2.3         NaN        1014.0          NaN
33909       NaN         0.8         NaN           NaN          NaN
34006       NaN         2.6         NaN           NaN          NaN
34106       NaN         0.8         NaN           NaN          NaN
34392       0.0         2.2         NaN           NaN          NaN

TypeError: isnull() takes 1 positional argument but 2 were given

In [149]:
print(df_2016_weather.isnull().sum())

지점                  0
지점명                 0
일시                  0
평균기온(°C)           26
최저기온(°C)            3
최고기온(°C)            1
강수 계속시간(hr)     31229
일강수량(mm)        21173
평균 풍속(m/s)          3
최다풍향(16방위)         48
평균 현지기압(hPa)       31
일 최심신적설(cm)     34283
dtype: int64

In [173]:
df_2016_weather

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),일강수량(mm),평균 풍속(m/s),최다풍향(16방위),평균 현지기압(hPa),일 최심신적설(cm)
0,90,속초,2016-01-01,3.6,-2.3,7.6,NaN,NaN,2.3,290.0,1024.2,NaN
1,90,속초,2016-01-02,8.4,5.0,11.5,NaN,NaN,3.1,270.0,1017.0,NaN
2,90,속초,2016-01-03,6.7,2.4,9.8,NaN,NaN,1.9,290.0,1015.6,NaN
3,90,속초,2016-01-04,5.4,0.8,9.0,NaN,NaN,2.7,290.0,1017.2,NaN
4,90,속초,2016-01-05,0.6,-2.6,4.4,NaN,NaN,2.5,290.0,1021.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
34491,295,남해,2016-12-27,3.8,-1.1,7.4,NaN,1.0,2.3,290.0,1014.9,NaN
34492,295,남해,2016-12-28,0.9,-3.4,7.1,NaN,NaN,0.8,250.0,1022.6,NaN
34493,295,남해,2016-12-29,1.5,-2.7,5.6,NaN,NaN,1.4,270.0,1022.7,NaN
34494,295,남해,2016-12-30,0.5,-4.4,6.7,NaN,NaN,0.8,250.0,1025.7,NaN
34495,295,남해,2016-12-31,3.4,-1.3,9.3,NaN,NaN,0.9,250.0,1024.2,NaN

In [151]:
# def avgg(a, b):
#     return a + b
#     pass

In [185]:
# df_2016_weather_miss = df_2016_weather[['일 최심신적설(cm)','일강수량(mm)']] = df_2016_weather[['일 최심신적설(cm)','일강수량(mm)']].replace(to_replace=np.NaN, value = 0)
df_2016_weather[['일 최심신적설(cm)','일강수량(mm)','강수 계속시간(hr)']].fillna(value = 0)
df_2016_weather.to_csv(f'C:/app/TeamProject/mod_weather_Data/df_2016_weather.csv', encoding = 'cp949')

In [186]:
df_group_wlwja = df_2016_weather.groupby(['지점명', '일시']).max()

In [187]:
sido_list = {
'강원' : ['속초', '북춘천', '철원', '대관령', '춘천', '북강릉', '강릉', '동해', '원주', '영월', '인제', '홍천', '태백', '정선군'],
'경기' : ['동두천', '파주', '수원', '양평', '이천'],
'충북' : ['충주', '추풍령', '제천', '보은', '청주'],
'충남' : ['서산', '홍성', '보령', '부여', '금산', '천안'],
'대전' : ['대전'],
'경북' : ['울릉도', '울진', '안동', '상주', '포항', '봉화', '영주', '문경', '청송군', '영덕', '의성', '구미', '영천', '경주시'],
'경남': ['창원', '통영', '진주', '김해시', '북창원', '양산시', '의령군', '함양군', '밀양', '산청', '거제', '남해', '합천', '거창'],
'전북' : ['군산', '전주', '고창', '부안', '임실', '정읍', '남원', '장수', '고창군', '순창군', '장흥'],
'전남' : ['목포', '여수', '흑산도', '완도', '순천', '진도', '영광군', '보성군', '강진군', '해남', '고흥', '광양시', '진도군'],
'서울' : ['서울'],
'인천' : ['백령도', '인천', '강화'],
'대구' : ['대구'],
'울산' : ['울산'],
'광주' : ['광주'],
'부산' : ['부산'],
'제주' : ['제주', '고산', '성산', '서귀포']}

In [188]:
df_2016_weather[['지점명', '일시', '최다풍향(16방위)']]

      지점명          일시  최다풍향(16방위)
0      속초  2016-01-01       290.0
1      속초  2016-01-02       270.0
2      속초  2016-01-03       290.0
3      속초  2016-01-04       290.0
4      속초  2016-01-05       290.0
...    ..         ...         ...
34491  남해  2016-12-27       290.0
34492  남해  2016-12-28       250.0
34493  남해  2016-12-29       270.0
34494  남해  2016-12-30       250.0
34495  남해  2016-12-31       250.0

[34496 rows x 3 columns]

In [190]:
df_2016_weather_maxwind = df_2016_weather[['지점명', '일시', '최다풍향(16방위)']]
df_2016_weather_maxwind

      지점명          일시  최다풍향(16방위)
0      속초  2016-01-01       290.0
1      속초  2016-01-02       270.0
2      속초  2016-01-03       290.0
3      속초  2016-01-04       290.0
4      속초  2016-01-05       290.0
...    ..         ...         ...
34491  남해  2016-12-27       290.0
34492  남해  2016-12-28       250.0
34493  남해  2016-12-29       270.0
34494  남해  2016-12-30       250.0
34495  남해  2016-12-31       250.0

[34496 rows x 3 columns]

In [191]:
def sido_func(vector) : 
    for i in sido_list :
        if vector in sido_list[i] :
            return i
            pass
        pass
    pass

In [197]:
df_2016_weather_maxwind['시도'] = df_2016_weather_maxwind['지점명'].apply(sido_func)
df_2016_weather_maxwind
df_2016_weather_maxwind.to_csv(f'C:/app/TeamProject/mod_weather_Data/df_2016_weather_maxwind.csv', encoding = 'cp949')

<ipython-input-197-c0c300c77819>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016_weather_maxwind['시도'] = df_2016_weather_maxwind['지점명'].apply(sido_func)

In [219]:
dfff = df_2016_weather_maxwind.groupby(['일시','시도','최다풍향(16방위)']).count()
dfff.to_csv(f'C:/app/TeamProject/mod_weather_Data/dfff.csv', encoding = 'cp949')
# df_2016_weather['최다풍향(16방위)'].unique()
dfff

                          지점명
일시         시도 최다풍향(16방위)
2016-01-01 강원 50.0          3
              160.0         2
              200.0         3
              270.0         2
              290.0         2
...                       ...
2016-12-31 충북 110.0         1
              140.0         1
              180.0         1
              230.0         1
              250.0         1

[22816 rows x 1 columns]

In [199]:
drop_maxwind_2016_weather = df_2016_weather.drop(['최다풍향(16방위)'],axis = 1)

In [201]:
drop_maxwind_2016_weather

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),일강수량(mm),평균 풍속(m/s),평균 현지기압(hPa),일 최심신적설(cm)
0,90,속초,2016-01-01,3.6,-2.3,7.6,0.0,0.0,2.3,1024.2,0.0
1,90,속초,2016-01-02,8.4,5.0,11.5,0.0,0.0,3.1,1017.0,0.0
2,90,속초,2016-01-03,6.7,2.4,9.8,0.0,0.0,1.9,1015.6,0.0
3,90,속초,2016-01-04,5.4,0.8,9.0,0.0,0.0,2.7,1017.2,0.0
4,90,속초,2016-01-05,0.6,-2.6,4.4,0.0,0.0,2.5,1021.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...
34491,295,남해,2016-12-27,3.8,-1.1,7.4,0.0,1.0,2.3,1014.9,0.0
34492,295,남해,2016-12-28,0.9,-3.4,7.1,0.0,0.0,0.8,1022.6,0.0
34493,295,남해,2016-12-29,1.5,-2.7,5.6,0.0,0.0,1.4,1022.7,0.0
34494,295,남해,2016-12-30,0.5,-4.4,6.7,0.0,0.0,0.8,1025.7,0.0
34495,295,남해,2016-12-31,3.4,-1.3,9.3,0.0,0.0,0.9,1024.2,0.0

In [202]:
plus_newmaxwind_2016_weather = drop_maxwind_2016_weather.merge(dfff, left_on =['일시','시도','지점명'], right_on = ['일시','시도','지점명'])

KeyError: '시도'

In [168]:
plus_newmaxwind_2016_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5856 entries, 0 to 5855
Data columns (total 13 columns):
지점              5856 non-null int64
지점명             5856 non-null object
일시              5856 non-null object
평균기온(°C)        5856 non-null float64
최저기온(°C)        5856 non-null float64
최고기온(°C)        5856 non-null float64
강수 계속시간(hr)     5856 non-null float64
일강수량(mm)        5856 non-null float64
평균 풍속(m/s)      5856 non-null float64
평균 현지기압(hPa)    5853 non-null float64
일 최심신적설(cm)     5856 non-null float64
시도              5856 non-null object
최다풍향(16방위)      5856 non-null float64
dtypes: float64(9), int64(1), object(3)
memory usage: 640.5+ KB

In [ ]:
for i in [2016,2017,2018]:
    df = pd.read_csv(f'C:/app/TeamProject/origin_weather_Data/종기상관측_ASOS_{i}.csv', encoding = 'cp949')
    df['시도'] = df['지점명'].apply(sido_func)
    
    df_mk_sejong = df[df['지점명'].str.contains('대전|청주|천안', regex=True)]
    df_mk_sejong['시도'] = df_mk_sejong['지점명'].apply(lambda x :'세종')
    df_concat = pd.concat([df,df_mk_sejong])
    df_concat['시도코드'] = df_concat['시도'].apply(sido_code_func)
    df_group = df_concat.drop(['지점','강수 계속시간(hr)', '일강수량(mm)', '일 최심신적설(cm)'], axis=1).groupby(['시도코드','일시']).mean()
    
    
    df_group.to_csv(f'C:/app/TeamProject/mod_weather_Data/기상관측_{i}_Fixed.csv', encoding = 'cp949')
    pass