In [1]:
1. 시리즈 만들기

In [2]:
import pandas as pd
s = pd.Series(['banana', 42]) # 42를 리스트로 전달 ! 
print(s) # 출력해보면 시리즈의 출력형태처럼 나옴 !

0    banana
1        42
dtype: object

In [3]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas']) ## 시리즈는 __init으로 호출해주는 생성자임
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [7]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index = ['Person', 'Who']) # 단순히 숫자형태 행번호보단
print(s)  # 인덱스를 맞춰줌.

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [ ]:
3. 데이터 프레임 만들기 # 키 밸류 형태로 값을 줄 수 있기 때문에 딕셔너리 형태로 값을 줌

In [15]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]})
print(scientists)
scientists.shape[0]
scientists.info()

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
Name          2 non-null object
Occupation    2 non-null object
Born          2 non-null object
Died          2 non-null object
Age           2 non-null int64
dtypes: int64(1), object(4)
memory usage: 208.0+ bytes

In [28]:
df_scientists = pd.DataFrame(
    data = {'Occupation': ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]},
index =  ['Rosaline Franklin', 'William Gosset'],
columns= ['Occupation', 'Born', 'Age', 'Died'])

print(df_scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [27]:
df_scientists.values # 시리즈의 데이터를 저장하고 있는 속성 : values
# 메모리에 값을 갖고있되, 다닥다닥 붙어있게 값을 가지고 있음
#

array([['Chemist', '1920-07-25', 37, '1958-04-16'],
       ['Statistician', '1876-06-13', 61, '1937-10-16']], dtype=object)

In [26]:
df_scientists.info()
type(df_scientists)

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Rosaline Franklin to William Gosset
Data columns (total 4 columns):
Occupation    2 non-null object
Born          2 non-null object
Age           2 non-null int64
Died          2 non-null object
dtypes: int64(1), object(3)
memory usage: 80.0+ bytes

pandas.core.frame.DataFrame

In [35]:
from collections import OrderedDict # 행의 순서를 보장하게 만드는 OrderedDict
# Orderdict는 생성자로 지정해서 리스트로 던져줘야함 대괄호로 ! 
# 여러개의 행 데이터를 던져주되, 한개 한개의 데이터는 immutable 하게 튜플로 던져준다.
scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
])
                         )
print(scientists) # 행의 순서를 보장하게 만드는 OrderedDict
# collections 안에는 이렇게 다양한 자료구조를 편하게 만들 수 있는 .. 게 많음

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [ ]:
#

In [37]:
df_scientists = pd.DataFrame(
    data = {'Occupation': ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]},
index =  ['Rosaline Franklin', 'William Gosset'],
columns= ['Occupation', 'Born', 'Age', 'Died'])

print(df_scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [44]:
first_row = df_scientists.loc['William Gosset']
print(type(first_row)) # 한개의 행 데이터를 추출

<class 'pandas.core.series.Series'>

In [43]:
print(first_row) # 오른쪽이 시리즈의 데이터, 왼쪽이 시리즈의 인덱스 
# 이 시리즈의 이름은 우리가 지정한 행의 이름 인덱스 대신에 William Gosset로 나옴.
# 형태는 날짜, 형태, 문자열 다 있어서 object -> 형변환 해주기 딱 좋음.

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

In [46]:
# index, values 속성과 keys 메소드 사용하기

In [ ]:
1. 인덱스 속성 사용하기

In [48]:
print(first_row.index) # 위에 윌리엄 가젯이라는 행을 뽑아서 인덱스 검사를 해보니 컬럼이 나옴
# 좌측에 있는게 데이터 프레임의 컬럼 목록.. 이게 인덱스로 나옴

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [ ]:
2. values 속성 사용하기

In [50]:
print(first_row.values) # 시리즈를 출력했을 때 오른쪽에 나오는 값을 values라 함.

['Statistician' '1876-06-13' 61 '1937-10-16']

In [52]:
type(first_row.values) # ndarray : numpy라는 수학 라이브러리가 제공하는 다차원배열 이라 불리는 자료구조임.

numpy.ndarray

In [ ]:
3. keys 메서드 사용하기

In [55]:
print(first_row.keys()) # 하나의 행이 갖고있는 컬럼들이 key 임.. 좌측에 나오는 시리즈 인덱스를 갖고 있다 !

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [ ]:
4. index 속성 응용하기

In [57]:
print(first_row.index[0]) # first_row는 시리즈임을 명시 !! index 첫번째 인덱스 뽑아내기

Occupation

In [62]:
print(first_row.index[-3:]) # first_row는 시리즈임을 명시 !! index 슬라이싱

Index(['Born', 'Age', 'Died'], dtype='object')

In [67]:
first_row.index[[0, 2, 3]] # 여러개의 값을 지정할 떄는 리스트로 넣어주기 !

Index(['Occupation', 'Age', 'Died'], dtype='object')

In [ ]:
5. key 메서드와 index 속성 응용하기

In [69]:
print(first_row.keys()[0]) # 이렇게 명시적으로 지정하는게 알아보기 편함.

Occupation

In [70]:
first_row.describe()

count      4
unique     4
top       61
freq       1
Name: William Gosset, dtype: int64

In [ ]:
시리즈와 불린 추출하기 (59쪽) : 시리즈가 갖고있는 시리즈 데이터 중에 불린 조건을 만족하는 시리즈 데이터만 추출하겠다 !

In [77]:
df_scientists = pd.read_csv('../doit_pandas/data/scientists.csv') # 경로지정 잘 하기,,
df_scientists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
Name          8 non-null object
Born          8 non-null object
Died          8 non-null object
Age           8 non-null int64
Occupation    8 non-null object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes

In [83]:
df_scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [92]:
s_age = df_scientists['Age'] # 데이터 프레임에서 age라는 컬럼을 뽑아내기 위해 인덱스 기법 사용 (결과는 시리즈로)

In [93]:
s_age

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [94]:
type(s_age) # 타입은 당연히 시리즈 --> 오른쪽이 값, 좌측은 인덱스

pandas.core.series.Series

In [95]:
s_age[:] # 시리즈 값 인덱스로 하나하나 뽑기 # 여기서 조건을 줘서 뽑아내는게 불린 추출 !

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [97]:
print(s_age)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [102]:
s_age

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [105]:
s_age +1  # 여러개 값을 가지고 있는 자료구조를 벡터라 함. 하지만, 이렇게 계산 해주면 +1씩 개별 값에 더해줌

0    38
1    62
2    91
3    67
4    57
5    46
6    42
7    78
Name: Age, dtype: int64

In [107]:
s_age - 1 # 시리즈나 데이터프레임이 갖고있는 여러개의 값에 연산이 동시에 진행되는 것을 브로드캐스팅이라함. 
# 하지만, 기본 컨테이너 타입엔 불가능 !! 
s_age * 10
s_age / 10

0    3.7
1    6.1
2    9.0
3    6.6
4    5.6
5    4.5
6    4.1
7    7.7
Name: Age, dtype: float64

In [108]:
s_age + s_age  # 두개의 시리즈를 더하는 것도 가능 !

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [117]:
l_scores = [1, 2, 3] # 기본 컨테이너인 리스트에는 안됨 (연산)
l_scores * 1 # 리스트에서 곱셈은 반복해서 출력하게 나옴 (피연산자가 숫자 1이니까 1번 반복)
l_scores * 2 # 이건 브로드캐스팅 연산이라 하지 않음 !! 
l_scores / 2 #XX f
l_scores + 2 #XX 
l_scores - 2 #XX

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [118]:
s_age.mean() # s_age의 평균을 먼저 구함

59.125

In [119]:
s_age > s_age.mean() # 개별 데이터에 대한 비교연산이 진행되어 T,F가 나옴 
# 불린 추출은 이 값을 가지고 선택을 하는 것 !

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [124]:
print(s_age[s_age > s_age.mean() ]) # 각각의 데이터를 비교한 후 참이면 추출하라.

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [123]:
s_age[ [True, False, False, False, False, False, False,  True] ] # 이건 True인 것만 뽑아내라 ! 이말. 이게 불린추출 ! 
# 이러한 리스트를 만들어내는게 브로드캐스팅 연산 !!

0    37
7    77
Name: Age, dtype: int64

In [125]:
s_age[ s_age > 40 ] # 순서는 s_age 각각의 데이터가 40을 넘는 값을 True, False로 나오게 한 후 이게 리스트로 되어있으니 불린추출 즉, True가 되어라 !
# 이 둘을 합치면 이 조건을 만족시키는 값을 불린추출해라 ! (값을 뽑아내라 라는 의미)

1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [126]:
print(s_age[s_age > s_age.mean() ]) # 각각의 데이터를 비교한 후 참이면 추출하라.

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [129]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(s_age[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [130]:
print(s_age * s_age)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [131]:
print(s_age + 100) # 이렇게 원래의 나이값에다가 100을 더하는게 브로드 캐스팅 이라 한다 ! (R에선 벡터연산)
# 이거 이후 참, 거짓 조건으로 값을 추출하는게 불린 연산 !

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [132]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [133]:
print(s_age + pd.Series([1,100])) # 벡터연산 하려다보니 왼쪽과 오른쪽의 데이터 갯수가 틀림 ! 
# 이땐 브로드캐스팅 연산이 어떻게 진행되는가 ? -- NaN(Not a Number) 즉, missing value로 처리함.

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [136]:
rev_ages = s_age.sort_index(ascending=False) # 내림차순이기 때문에 데이터가 역순으로 나옴.
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [137]:
print(s_age * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [138]:
print(s_age + rev_ages) # 리버스 된 것과 기존의 것 더하는 줄 알았는데, 아님 ! 
# 아무리 인덱스가 거꾸로 되어있든, 벡터 연산할때는 인덱스가 동일하게 데이터끼리 연산하게 된다 !!!

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [ ]:
# 불린 추출과 브로드캐스팅(65쪽)

In [139]:
print(scientists[scientists['Age'] > scientists['Age'].mean()]) # 연산 순서는 먼저 브로드캐스팅 [scientists['Age'] > scientists['Age'] 먼저 실시하고
# 다음 불린추출 ~!

             Name    Occupation        Born        Died  Age
1  William Gosset  Statistician  1876-06-13  1937-10-16   61

In [140]:
scientists['Age']

0    37
1    61
Name: Age, dtype: int64

In [142]:
scientists['Age'].mean()

49.0

In [143]:
print(scientists *2 )

                                 Name                Occupation  \
0  Rosaline FranklinRosaline Franklin            ChemistChemist
1        William GossetWilliam Gosset  StatisticianStatistician

                   Born                  Died  Age
0  1920-07-251920-07-25  1958-04-161958-04-16   74
1  1876-06-131876-06-13  1937-10-161937-10-16  122

In [145]:
scientists = pd.read_csv('../doit_pandas/data/scientists.csv')

In [153]:
type(scientists['Died'])

pandas.core.series.Series

In [156]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d') 
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [154]:

died_datetime = pd.to_datetime(scientists['Died'], format = '%Y-%m-%d')
print(type(died_datetime))
print(died_datetime) # 눈으로 볼때 타입은 시리즈 이지만, 데이터타입은 타임ㅇ로 바뀜 !!

<class 'pandas.core.series.Series'>
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [157]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head()) # 신규 컬럼을 추가할 때 쓰는 문법임 ! 이제 먼징작업...?

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [160]:
df_scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician