# 직접 해보세요!
## 제곱 함수와 n 제곱 함수 만들기(202쪽)

In [2]:
def my_sq(x):
    print(x, ',', type(x))
    return x ** 2

In [3]:
def my_exp(x,n):
    print('-' * 40)
    print(x, ',', type(x))
    print(n, ',', type(n))
    return x ** n

In [4]:
print(my_sq(3))

3 , <class 'int'>
9

In [5]:
print(my_exp(2,4))

----------------------------------------
2 , <class 'int'>
4 , <class 'int'>
16

# 직접 해보세요!
## 시리즈와 데이터프레임에 apply 메서드 사용하기(203쪽)

### 1. 시리즈와 apply 메서드

In [6]:
import pandas as pd

df = pd.DataFrame({
    'a': [10, 20, 30], 
    'b': [20, 30, 40]
}) 

print(df) # DataFrame 만들땐 dict 객체로 만들 수 있다.

    a   b
0  10  20
1  20  30
2  30  40

In [7]:
print(df['a'] ** 4)  # 이게 벡터연산(broadcasting) # 시리즈만 뽑아서 벡터연산 ~!

0     10000
1    160000
2    810000
Name: a, dtype: int64

In [8]:
sq = df['a'].apply(my_sq) # 시리즈가 갖고 있는 값 10, 20, 30이 my_sq의 매개변수로 들어간다 ! 
# 과정도 함께 표시
print(sq)

10 , <class 'int'>
20 , <class 'int'>
30 , <class 'int'>
0    100
1    400
2    900
Name: a, dtype: int64

In [9]:
ex = df['a'].apply(my_exp, n=2) # a라는 컬럼이 갖고있는 10, 20, 30이 각각 들어오고, n 도 각각 들어옴.
# 이렇게 브로드캐스팅 되는 함수 이걸 map라 하고 작업을 mapping 한다 라고 함.
print(ex)

----------------------------------------
10 , <class 'int'>
2 , <class 'int'>
----------------------------------------
20 , <class 'int'>
2 , <class 'int'>
----------------------------------------
30 , <class 'int'>
2 , <class 'int'>
0    100
1    400
2    900
Name: a, dtype: int64

### 5. 데이터 프레임과 apply 메서드

In [10]:
df = pd.DataFrame({
    'a': [10, 20, 30], 
    'b': [20, 30, 40]
})

print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [19]:
def print_me(x): 
    print('-'*40)
    print(type(x), ',', x.shape)
    
    print(x)

In [25]:
df.apply(print_me) # 데이터프레임에 이렇게 apply 연산 수행 !
# 데이터 프레임에 apply를 적용하면, 브로드캐스팅 연산에 사용되는 매개변수는 시리즈로 전달됨 ! !
# 시리즈 계산할땐, 데이터로 들어가지만, 데이터 프레임 계산할 때 매개변수는 이를 구성하는 시리즈가 통째로 전달됨..!

----------------------------------------
<class 'pandas.core.series.Series'> , (3,)
0    10
1    20
2    30
Name: a, dtype: int64
----------------------------------------
<class 'pandas.core.series.Series'> , (3,)
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [13]:
print(df.apply(print_me, axis=0)) # if axis = 0 (Y축), 각 컬럼이 전달

----------------------------------------
<class 'pandas.core.series.Series'> , (3,)
0    10
1    20
2    30
Name: a, dtype: int64
----------------------------------------
<class 'pandas.core.series.Series'> , (3,)
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [14]:
print(df.apply(print_me, axis=1)) # if axis = 1 (X축), 각 행 전달. 타입 시리즈로 나옴.

----------------------------------------
<class 'pandas.core.series.Series'> , (2,)
a    10
b    20
Name: 0, dtype: int64
----------------------------------------
<class 'pandas.core.series.Series'> , (2,)
a    20
b    30
Name: 1, dtype: int64
----------------------------------------
<class 'pandas.core.series.Series'> , (2,)
a    30
b    40
Name: 2, dtype: int64
0    None
1    None
2    None
dtype: object

In [15]:
def avg_3(x, y, z):
    print('-'*40)
    print('- x:\n', x)
    print('- y:', y)
    print('- z:', z)
    
    return (x + y + z) / 3

In [16]:
print(df.apply(avg_3)) # 오류났음. 데이터 프레임은 한개의 컬럼씩(시리즈) 매개변수로 들어오는데, 
# 여긴 3개 들어와야함. 그래서 오류. 이 아랫줄에 해결방법.

TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')

In [ ]:
print(df)
df.apply(avg_3, y = 1 , z = 5)
# df.apply(avg_3, y = 1 , z = 5)

# 왜 a는 두번 들어가는지 ?

In [17]:
df # 데이터가 어떻게 생긴지 안 다음 진행.

def avg_3_apply(col): # 각 컬럼대로 전달해서 수행 결과 나오게 ! # 시리즈가 들어올 것으로 예상.
    print('-'*40)
    print('\t + avg_3_apply invoked. col : {}'.format(type(col)))
    print('-'*40)
    
    x = col[0] 
    y = col[1] 
    z = col[2] 
    
    avg = (x + y + z) / 3
        
    print('\t+ x: {}, y: {}, z: {}, avg: {}'.format(x, y, z, avg))
    
   
    
    return avg

result = df.apply(avg_3_apply)

print('-'*40)
print(type(result)) # 반환시켜준 데이터 타입은 시리즈 ??
print('-'*40)
print(result)

----------------------------------------
	 + avg_3_apply invoked. col : <class 'pandas.core.series.Series'>
----------------------------------------
	+ x: 10, y: 20, z: 30, avg: 20.0
----------------------------------------
	 + avg_3_apply invoked. col : <class 'pandas.core.series.Series'>
----------------------------------------
	+ x: 20, y: 30, z: 40, avg: 30.0
----------------------------------------
<class 'pandas.core.series.Series'>
----------------------------------------
a    20.0
b    30.0
dtype: float64

In [ ]:
# 컬럼이 갖고있는 시리즈 데이터를 sum. 컬럼의 길이가 몇인지 모름. 위에 있는건 컬럼이 2개 였고, 행이 3개였음.
def avg_3_apply(col): # 컬럼이 들어올 것을 알고 함수를 정의. 이 컬럼의 타입은 시리즈. 인덱스와 데이터로 구성되어있음. 
    print('-' * 40)
    print('- avg_3_apply invoked. col: {}'.format( type(col) ) )
    print('-' * 40)
    
    sum = 0
    for item in col:
         sum += item
            
    return sum / df.shape[0] # 나눠주는건 행의 갯수만큼 !

result = df.apply(avg_3_apply)
print('- result:')
result

In [ ]:
print(df)

def avg_2_apply(row): # 행이 들어올 것을 가정하고 만듬. 마찬가지로 하나의 행도 시리즈임.
                      #  시리즈도 lterable 하니까, for 문의 범위로 설정해서 끄집어내기
                      # 여러개의 행 값을 끄집어내서 sum 해서 평균.
    print('-' * 40)
    print('- avg_3_apply invoked. row: {}'.format( type(row) ) )
    print('-' * 40)
    
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1] # 여긴 당연히 나눠주는거니까 컬럼의 개수로

result = df.apply(avg_2_apply, axis = 1) # if axis = 1, X-axis : row.
print('- type(result):', type(result))
result


# 이렇게 데이터의 평균을 내는 (새로운 데이터를 내는) 것에선 return 데이터를 만들어야됨.

# 직접 해보세요!
## 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기(208쪽)

## 1. 데이터프레임의 누락값 처리하기 ― 열 방향(axis = 0) y축

In [ ]:
import seaborn as sns

titanic = sns.load_dataset("titanic") # 타이타닉 침몰 당시 생존자의 정보를 담고 있는 데이터

In [103]:
print(titanic.info()) # info만 보고도 결측치가 몇개 있는지 확인 가능.
print('-' * 40)
print(titanic.head(3)) # embarked는 결측치를 포함하고 있음. (출발지를 나타내는 컬럼)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None
----------------------------------------
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True

In [107]:
import numpy as np

def count_missing(vec): # 인자로 주어진 벡터가 어떤 타입이든 모든 값 중 결측치의 갯수가 몇개인지 반환
    print('-' * 50)
    print('- count_missing invoked. vec: {}'.format(type(vec)))
    print('-' * 50)
    
    null_vec = pd.isnull(vec) #
    
    null_count = np.sum(null_vec) # 총 결측치의 갯수를 반환
    print('\t+ 결측치의 개수:', null_count)
    
    return null_count

In [110]:
cmis_col = titanic.apply(count_missing) # 
print('type(cmis_col):', type(cmis_col)) # 찍어주는 Return값도 시리즈로 나옴. 여러개의 리턴값이 발생해서 모아주면 시리즈 ! 
print('-' * 50) 
# print(cmis_col)

--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 177
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 2
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 688
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 2
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
--------------------------------------------------
- count_missing invoked. vec: <class 'pandas.core.series.Series'>
--------------------------------------------------
	+ 결측치의 개수: 0
type(cmis_col): <class 'pandas.core.series.Series'>
--------------------------------------------------

### 8. 데이터프레임의 누락값을 처리하기 ― 행 방뱡 --> 직접 해보기 !!!
### 건너뜀 !!