In [5]:
import pandas as pd

In [6]:
import os; os.getcwd()

'C:\\app\\pandas_workspace\\Temp'

In [8]:
df = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep = '\t') # 이렇게 위로 올라갔다가 내려가는 방식으로 ! 
# Temp 폴더에서 pandas_workssapce로 올라갔다가 다시 내려오게 !

In [12]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [13]:
df.shape

(1704, 6)

In [14]:
df.columns # columns의 속성의 타입을 보여줌 !

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [15]:
for col in df.columns:
    print(col)
    pass # 리스트 타입의 columns에서 하나씩 뽑아서 프린트해라 !

country
continent
year
lifeExp
pop
gdpPercap

In [16]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [17]:
df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [18]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [19]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
# Index도 for문으로 가능할까 ?
for index in df.index:
    print(index)
    pass # 인덱스가 1703까지 프린트됨.

In [23]:
print(df['pop']) # 지정된 데이터 프레임의 pop 컬럼만 보여주기

0        8425333
1        9240934
2       10267083
3       11537966
4       13079460
          ...
1699     9216418
1700    10704340
1701    11404948
1702    11926563
1703    12311143
Name: pop, Length: 1704, dtype: int64

In [24]:
type(df['country'])  # df의 country 열만 뽑아보기. 이건 시리즈가 맞음.

pandas.core.series.Series

In [25]:
type(df[  ['country']  ]) # 위에꺼가 특정 데이터만 뽑아내는거라면, 이건 0개 이상
# 에 해당하는 subset에 뽑아내는거 .. ?

pandas.core.frame.DataFrame

In [27]:
type(df[   []   ])
print(df[   []   ]) # 이렇게 empty data를 뽑아내도 인덱스는 유지하고 있음.

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1704 rows x 0 columns]

In [30]:
type(df[   []   ])
# df[   ['year', 'country', 'pop']   ] # 여러개의 열로 구성된 subset를 뽑아냄. OK
# df[   ('year', 'country', 'pop')   ] # 이건 튜플로. XX
# df[   {'year', 'country', 'pop'}   ] # 리스트, set 가능 ! 
df[   {'year': 1, 'country': 2, 'pop': 3}   ] # 딕셔너리도 잘 됨. 값은 상관없이
# 키값이 컬럼 이름이면 됨 !!!

      year      country       pop
0     1952  Afghanistan   8425333
1     1957  Afghanistan   9240934
2     1962  Afghanistan  10267083
3     1967  Afghanistan  11537966
4     1972  Afghanistan  13079460
...    ...          ...       ...
1699  1987     Zimbabwe   9216418
1700  1992     Zimbabwe  10704340
1701  1997     Zimbabwe  11404948
1702  2002     Zimbabwe  11926563
1703  2007     Zimbabwe  12311143

[1704 rows x 3 columns]

In [31]:
type(df.head())

pandas.core.frame.DataFrame

In [33]:
df.head(100)['pop'] # df의 pop 컬럼 100개 보여줌 !

0      8425333
1      9240934
2     10267083
3     11537966
4     13079460
        ...
95      708573
96    46886859
97    51365468
98    56839289
99    62821884
Name: pop, Length: 100, dtype: int64

In [34]:
type(df.head(100)['pop'] ) #  이건 시리즈 ~!

pandas.core.series.Series

In [36]:
type(df.head(100)[{'pop', 'lifeExp'}] ) # 한 개 이상의 열을 뽑아내고, set이면 
# 데이터 프레임이 됨.

pandas.core.frame.DataFrame

In [39]:
df.shape[1] # 1 지정하면 열의 크기, 0 지정하면 행의 크기

6

In [40]:
df.shape[0] # 1 지정하면 열의 크기, 0 지정하면 행의 크기

1704

In [41]:
len(df)

1704

In [43]:
type(df.dtypes)
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object