In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep = '\t') # 이렇게 위로 올라갔다가 내려가는 방식으로 ! 
# Temp 폴더에서 pandas_workssapce로 올라갔다가 다시 내려오게 !

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
# 열데이터 추출 문법 : df[ 'column name' ] or df[ ['col1', 'col2', ...] ] # 이런식으로 컬럼의 이름을 
# 부여해서 호출했다. 
# df[0]  XX
# df[ , ] 문법 오류남  XX 
# df[0, ] 문법 오류남 XX
# df[0,0] XXX

In [ ]:
# df[0:5] # 0을 포함, 5는 포함X --> 0, 1, 2, 3, 4 OK
# df[:] # 모든 행을 뽑아라 OK
# df[0:0] # 0번째 인덱스를 뽑으라는 의미인데 아무것도 안나옴. Empty data Frame

# df[0,3,5] # 튜플은 소괄호 기호 생략할 수 있기 때문에 이거 튜플로 인식함.
# = df[ (0,3,5) ] 과 같은 표시임.
# df[ [0,3,5] ]  XX

# df[0:3 , ]  XX

In [12]:
type(df.loc) # 데이터에서 행데이터를 뽑아낼 때 사용.
# locaindex 라고 하는 것, 행의 위치를 지정해주는 지정자. 행데이터를 뽑아줌
# loc 속성은 인덱스로 행데이터를 뽑아냄 ..

In [14]:
type(df.iloc) # 데이터 프레임이 갖고 있는 인덱스. 같은 인덱스 인데
# 원하는 인덱스가 다름. 얘는 행번호를 씀 !!

pandas.core.indexing._iLocIndexer

In [16]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [ ]:
df # 위에 index가 이 아래꺼인덱스 말하나봄

In [18]:
df.loc[0] # 행데이터를 뽑아준건데 시리즈 처럼 보여줌..

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [20]:
type(df.loc[0]) # 열뿐만 아니라 하나의 행도 시리즈임 !!

pandas.core.series.Series

In [21]:
df.loc[-1]

KeyError: -1

In [24]:
df.loc[-1] XX
df.loc[0:3] XX
df.loc[0:0] XX
df.loc[  : ] # To extrack all rows 
df.loc[4: ] # To exract rows from 4th. index end rows
df.loc[ :10] #

SyntaxError: invalid syntax (<ipython-input-24-754fa642556b>, line 1)

In [26]:
df.loc[1703]
df.loc[ df.shape[0] -1 ]
df.loc[ len(df) -1]
df.loc[len(df.index) -1]
df.loc[len(df.index) -1 ]
df.tail(1)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [33]:
# df.iloc # 행의 번호를 이용하여, 행 데이터 추출

type(df.iloc)
df.iloc[-1] # iloc는 행의 번호를 입력하다보니, -1 음수값도 가능 !! 
# - 인덱스 값 사용하듯이 사용 가능 ! 
# 지정된 숫자는, 데이터 프레임의 인덱스가 아니라, 그냥 행번호
df.iloc[-1]
df.iloc[ [1, 3, 5] ] # list : OK
# df.iloc[ {1, 3, 5} ] # set : XX
# df.iloc[ (1, 3, 5) ] # tuple : XX
# df.iloc[ P1: 'n1', 3: '2', 5: 'n3'} ] # dict : XX

       country continent  year  lifeExp       pop   gdpPercap
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
5  Afghanistan      Asia  1977   38.438  14880372  786.113360

In [40]:
# 데이터프레임의 부분집합 (행과 열을 모두 지정하여 ) 추출
df.info()

# df.iloc[ 0 : 3, ['country',  'pop'] ] # 여기서 콤마를 기준으로 왼쪽은 행, 오른쪽은
# 열을 나타냄. but iloc는 숫자값만 지정가능하므로 바꾸자
df.iloc[ 0 : 3, [0, 2] ] # 0, 1, 2 인덱스의 행을 뽑고, 0과 2 열을 뽑자 ! 
# 열의 번호를 지정해야함.

df.loc[ 0 : 3, ['country', 'year'] ] # loc 컬럼은 열의 번호가 아니라 
#  열의 이름을 지정해야함.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967