In [1]:
import pandas as pd
df = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep='\t')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [2]:
df_groupby = df.groupby('year')
type(df_groupby) # 그룹바이 된 데이터 프레임이라 표시.

pandas.core.groupby.generic.DataFrameGroupBy

In [3]:
df_groupby

In [6]:
# df_groupby.info() # XXX
df_groupby['country']  # 하나의 컬럼을 뽑아냈으니 시리즈 그룹바이 타입이 나옴.

In [8]:
df_groupby['lifeExp'].mean() # 범주형 변수 Year로 그룹핑했고, 이 행에 대한 기대수명을
# 표현했음. --> 연도별 기대수명의 평균
# 5년마다 측정/ 기대수명 상승/ 임을 알 수 있음.

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [10]:
type(df_groupby['lifeExp'].mean()) # 시리즈 데이터를 가지고 평균을 구한 것이 또 하나의
# 시리즈다..

pandas.core.series.Series

In [11]:
df_groupby = df.groupby( ['year', 'country'] ) # 연도별, 국가별 세분화
df_groupby['lifeExp'].mean() # 범주 두개 (연도별, 국가별)로 기대수명 평균구하기.
# 너무 많아서 생략되어 표현됨.
# 위에 1952년도 기대수명은 49년이었는데, 국가별로 보니 편차가 큼.

year  country
1952  Afghanistan           28.801
      Albania               55.230
      Algeria               43.077
      Angola                30.015
      Argentina             62.485
                             ...
2007  Vietnam               74.249
      West Bank and Gaza    73.422
      Yemen, Rep.           62.698
      Zambia                42.384
      Zimbabwe              43.487
Name: lifeExp, Length: 1704, dtype: float64

In [12]:
# 연도별/대륙별/국가별/평균 기대수명
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [13]:
dff_groupby = df.groupby([ 'year', 'continent', 'country'])
dff_groupby['lifeExp'].mean()

year  continent  country
1952  Africa     Algeria           43.077
                 Angola            30.015
                 Benin             38.223
                 Botswana          47.622
                 Burkina Faso      31.975
                                    ...
2007  Europe     Switzerland       81.701
                 Turkey            71.777
                 United Kingdom    79.425
      Oceania    Australia         81.235
                 New Zealand       80.204
Name: lifeExp, Length: 1704, dtype: float64

In [29]:
dff_groupby = df.groupby([ 'year', 'continent'])
groupby_mean = df_groupby['gdpPercap'].mean()
type(groupby_mean)
groupby_mean
# dff_groupby['gdpPercap'].mean()

# dff_groupby = df.groupby(['year', 'continent'])['gdpPercap'].mean() # 이거 왜 안되나

year  country
1952  Afghanistan            779.445314
      Albania               1601.056136
      Algeria               2449.008185
      Angola                3520.610273
      Argentina             5911.315053
                               ...
2007  Vietnam               2441.576404
      West Bank and Gaza    3025.349798
      Yemen, Rep.           2280.769906
      Zambia                1271.211593
      Zimbabwe               469.709298
Name: gdpPercap, Length: 1704, dtype: float64

In [ ]:
df_groupby = df.groupby([ 'year', 'continent'])
groupby_mean = df_groupby['gdpPercap', 'pop', 'lifeExp'].mean()
groupby_mean # 밑에처럼 하나의 컬럼에 대한 집계뿐 아니라 복수 컬럼 집계도 가능.
# 데이터 프레임임! 
# 이건 기본통계량임 ! 대부분 집계 데이터를 구하는 걸 시작으로 이제 고급통계를 진행함
# 우리가 지금 다루는 데이터는 정형데이터임.

In [36]:
# df_groupby['continent'].nunique()
df_groupby['pop'].sum() # 위에 연도별, 대륙별로 그룹핑 된 총 인구수 합
# df_groupby['lifeExp'].mean()

year  continent
1952  Africa        237640501
      Americas      345152446
      Asia         1395357351
      Europe        418120846
      Oceania        10686006
1957  Africa        264837738
      Americas      386953916
      Asia         1562780599
      Europe        437890351
      Oceania        11941976
1962  Africa        296516865
      Americas      433270254
      Asia         1696357182
      Europe        460355155
      Oceania        13283518
1967  Africa        335289489
      Americas      480746623
      Asia         1905662900
      Europe        481178958
      Oceania        14600414
1972  Africa        379879541
      Americas      529384210
      Asia         2150972248
      Europe        500635059
      Oceania        16106100
1977  Africa        433061021
      Americas      578067699
      Asia         2384513556
      Europe        517164531
      Oceania        17239000
1982  Africa        499348587
      Americas      630290920
      Asia         2610135582
      Europe        531266901
      Oceania        18394850
1987  Africa        574834110
      Americas      682753971
      Asia         2871220762
      Europe        543094160
      Oceania        19574415
1992  Africa        659081517
      Americas      739274104
      Asia         3133292191
      Europe        558142797
      Oceania        20919651
1997  Africa        743832984
      Americas      796900410
      Asia         3383285500
      Europe        568944148
      Oceania        22241430
2002  Africa        833723916
      Americas      849772762
      Asia         3601802203
      Europe        578223869
      Oceania        23454829
2007  Africa        929539692
      Americas      898871184
      Asia         3811953827
      Europe        586098529
      Oceania        24549947
Name: pop, dtype: int64

In [40]:
type(df_groupby['lifeExp' ] ) # 
# df_groupby['lifeExp'].quantile() # mean() 등등 다 되는데
# df_groupby['lifeExp'].kurtosis() # 는 안됨
# groupby 된 메소드중에서 kurtosis는 안됨
df_groupby['lifeExp'].skew() # 는 됨 !

year  continent
1952  Africa       0.353055
      Americas     0.041592
      Asia         0.371857
      Europe      -1.301327
      Oceania           NaN
1957  Africa       0.609589
      Americas    -0.113827
      Asia         0.221384
      Europe      -1.616472
      Oceania           NaN
1962  Africa       0.548373
      Americas    -0.263315
      Asia         0.193576
      Europe      -2.061686
      Oceania           NaN
1967  Africa       0.452515
      Americas    -0.379239
      Asia        -0.037674
      Europe      -2.375166
      Oceania           NaN
1972  Africa       0.396076
      Americas    -0.531152
      Asia        -0.310530
      Europe      -2.651453
      Oceania           NaN
1977  Africa       0.347936
      Americas    -0.535250
      Asia        -0.883355
      Europe      -2.080834
      Oceania           NaN
1982  Africa       0.335071
      Americas    -0.601443
      Asia        -0.581983
      Europe      -1.623181
      Oceania           NaN
1987  Africa       0.356127
      Americas    -0.718427
      Asia        -0.801144
      Europe      -1.276566
      Oceania           NaN
1992  Africa      -0.311996
      Americas    -0.931959
      Asia        -0.912758
      Europe      -0.741223
      Oceania           NaN
1997  Africa       0.491720
      Americas    -1.096875
      Asia        -1.029771
      Europe      -0.606263
      Oceania           NaN
2002  Africa       0.772096
      Americas    -1.036350
      Asia        -1.059696
      Europe      -0.495105
      Oceania           NaN
2007  Africa       0.650966
      Americas    -0.893389
      Asia        -1.172160
      Europe      -0.480483
      Oceania           NaN
Name: lifeExp, dtype: float64