In [24]:
import pandas as pd
df_gapminder = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep='\t')
df_gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [11]:
df_lifeExp = df_gapminder.groupby(['year', 'continent', 'country'])[['lifeExp']].mean()

In [12]:
print(df_lifeExp)

                               lifeExp
year continent country
1952 Africa    Algeria          43.077
               Angola           30.015
               Benin            38.223
               Botswana         47.622
               Burkina Faso     31.975
...                                ...
2007 Europe    Switzerland      81.701
               Turkey           71.777
               United Kingdom   79.425
     Oceania   Australia        81.235
               New Zealand      80.204

[1704 rows x 1 columns]

In [7]:
# 2.

In [25]:
import pandas as pd 
from collections import OrderedDict

In [26]:
df = pd.DataFrame(OrderedDict([
                             ('Name', ['Yoseph1', 'Yoseph2']),
                             ('Occupation', ['Chemist', 'Statistician']),
                             ('Born', ['1990-07-21', '1991-07-07']),
                             ('Died', ['2025-07-21', '2070-07-07']),
                             ('Age', [37, 61])
]))

In [27]:
print(df)

      Name    Occupation        Born        Died  Age
0  Yoseph1       Chemist  1990-07-21  2025-07-21   37
1  Yoseph2  Statistician  1991-07-07  2070-07-07   61

In [ ]:
# 3.

In [16]:
emp_json = df_emp.to_json()
print(emp_json)

with open('emp.json', 'w') as f:
    f.write(emp_json)
    pass
# 데이터 적재 하는 방법을 잘 모르겠습니다..(feat 4번)

NameError: name 'df_emp' is not defined

In [19]:
# 5.

In [ ]:
df_ebola = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep='\t')

In [ ]:
num_rows = df_ebola.shape[0]

In [ ]:
missing_val = num_rows - df_dbola.count()

In [ ]:
print(missing_val)

In [23]:
# 6.

In [28]:
df_ebola.dropna()

NameError: name 'df_ebola' is not defined

In [ ]:
import pandas_oracle.tools as pt

query = "SELECT * FROM emp"