# concat 메서드 사용하기

In [27]:
import pandas as pd

df1 = pd.read_csv('../doit_pandas/data/concat_1.csv') 
df2 = pd.read_csv('../doit_pandas/data/concat_2.csv') 
df3 = pd.read_csv('../doit_pandas/data/concat_3.csv')

print( df1.head())
print('-' * 80)
                  
print( df2.head())
print('-' * 80)
                  
print( df3.head())
print('-' * 80)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
--------------------------------------------------------------------------------
    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
--------------------------------------------------------------------------------
     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
--------------------------------------------------------------------------------

In [13]:
row_concat = pd.concat([df1, df2, df3])

# print(row_concat) # 이때, 연결된 각각의 데이터프레임의 index가 그대로 유지되었음 !! 
print(row_concat.reset_index()) # 데이터 프레임의 전체 index 재초기화 (이건 인덱스가 다시 순차적으로 연결됨)

    index    A    B    C    D
0       0   a0   b0   c0   d0
1       1   a1   b1   c1   d1
2       2   a2   b2   c2   d2
3       3   a3   b3   c3   d3
4       0   a4   b4   c4   d4
5       1   a5   b5   c5   d5
6       2   a6   b6   c6   d6
7       3   a7   b7   c7   d7
8       0   a8   b8   c8   d8
9       1   a9   b9   c9   d9
10      2  a10  b10  c10  d10
11      3  a11  b11  c11  d11

In [15]:
print(row_concat.iloc[3]) # iloc는 integer 즉, 정수로 생각 ~! 3번을 뽑아라 (눈에 보이지 않는 행번호를 쓰니까 1개만 나옴)
# row_concat.iloc[3,]
# row_concat.iloc[3,:] # 이 두개도 똑같은 방법. 슬라이싱 방법..
print(row_concat.loc[3]) # loc로 뽑아내니까 행 3개가 나옴. loc는 인덱스를 쓰기 때문에.

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object
     A    B    C    D
3   a3   b3   c3   d3
3   a7   b7   c7   d7
3  a11  b11  c11  d11

# 4. 데이터프레임에 시리즈 연결하기

In [17]:
new_series = pd.Series(['n1', 'n2', 'n3', 'n4'])

print(new_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [26]:
# pandas.concat() : default, UNION (axis = 0, Y축, 수직적 연결)/ 일단 위에서 아래로 붙인다.
# 시리즈는 하나의 열이기 때문에, 컬럼이 맞지 않는 경우가 있음.
# 그럼 판다스가 임의대로 숫자 0부터 시작해서 새로운 컬럼을 자동으로 생성.
# 이때, 연결된 각각의 데이터프레임의 index가 그대로 유지
# 결과적으로 시리즈를 별도의 컬럼을 만들어 붙였고, 나머지 공간은 결측치로 채움.

# pd.concat([df1, new_series]) # 이걸 극복하기 위해 아래 방법 사용 !

df4 = df1

# df1['new_col'] = 1
df1['new_col'] = new_series

print(df4)

    A   B   C   D new_col
0  a0  b0  c0  d0      n1
1  a1  b1  c1  d1      n2
2  a2  b2  c2  d2      n3
3  a3  b3  c3  d3      n4

# 행 1개로 구성된 데이터프레임 생성하여 연결하기

In [40]:
new_row_df = pd.DataFrame(
    [
        ['n1', 'n2', 'n3', 'n4'],
        ['m1', 'm2', 'm3', 'm4'] # 행 데이터 추가 -> 후에 이거 데이터 추가 또했음. 
    ],
    
    columns = ['A', 'B', 'C', 'D'] # 컬럼 명 제공
)

print(new_row_df) # 1X4 차원 데이터.

    A   B   C   D
0  n1  n2  n3  n4
1  m1  m2  m3  m4

In [35]:
# pandas.concat() : dafaul.t, UNION (axis = 0, Y축, 수직적 연결)
# 이때, 연결된 각각의 데이터 프레임의 index가 그대로 유지

pd.concat([df1, new_row_df]) # 4X4 데이터프레임과 1X4 데이터 프레임 연결.

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [45]:
df1.append(new_row_df) # 위에 concat도 있지만, 연결할 데이터가 한 행이라면 append로 하는게 간단하다.
# 한 개의 행이 아니라 n 개의 행이어도 가능 ! 

# df1.append(new_series) # append에 시리즈를 추가하면 오류 발생함 ! 
df1.append(new_series, ignore_index =True) # 이렇게 ignore 이거 입력해야 추가되긴하는데, 공통된 컬럼이
# 없어서 이상하게 됨. 결측치 생성됨. 비추.

     A    B    C    D    0    1    2    3
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   n1   n2   n3   n4

In [50]:
data_dict = {'A': 'n1', 'B': 'n2', 'C': 'n3', 'D': 'n4'}

# 추가된 행의 index 무시 -> 새로이 부여 
# 데이터 프레임이 갖고 있던 컬럼과 동일하게 key를 부여했기 때문에 잘 들어감.

print(df1.append(data_dict, ignore_index=True))
# print(df1.append(data_dict, ignore_index=False)) # False로 하면 오류남.
# 또, 만약 원래 있던 컬럼이 아닌 새로운 컬럼명으로 부여한 뒤 append 하면 새로운 컬럼이 생성되고 NaN 결측치로 생성됨.

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

# 다양한 방법으로 데이터 연결하기

### 1. ignore_index 인자 사용하기

In [51]:
# pandas.concat() : dafault, UNION
# 이때, 연결된 각각의 데이터 프레임의 index가 그대로 유지

#각 데이터프레임의 index무시(재초기화)
row_concat_i = pd.concat([df1, df2, df3], ignore_index=True) # 이게 위에 있던 reset_index랑 같은건지? 

print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

### 2. 열 방향으로 데이터 연결하기

In [54]:
# pandas.concat() : default, UNION (axis=0, Y축, 수직적연결)
# 이때, 연결된 각각의 데이터프레임의 index가 그대로 유지

col_concat = pd.concat([df1, df2, df3], axis = 1 ) # axis 가 1이면 X축을 의미하고 수평적 결합됨 ! 
# axis가 0이면 y축을 의미하고 수직적 연결 됨 !!! 

print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [58]:
# col_concat['A'] # 데이터 프레임의 특정 열만 뽑아낼 땐 컬럼의 이름을 주면 뽑아지기 때문에, 있는대로 다 뽑힘.
col_concat[['A','B']]  # 여러개로 뽑으려면 리스트로 전달하면 됨.

    A   A    A   B   B    B
0  a0  a4   a8  b0  b4   b8
1  a1  a5   a9  b1  b5   b9
2  a2  a6  a10  b2  b6  b10
3  a3  a7  a11  b3  b7  b11

In [61]:
# 기존 데이터 프레임에 새로운 열 추가

col_concat['new_col'] = ['n1', 'n2', 'n3', 'n4']
# col_concat['new_col'] = ['n1', 'n2', 'n3', 'n4', 'n5'] # 만약 데이터를 하나 더 추가하려 하면 오류뜸.

col_concat

    A   B   C   D   A   B   C   D    A    B    C    D new_col
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8      n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9      n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10      n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11      n4

In [68]:
# pd.concat([df1, df2, df3], axis=1, ignore_index=False)

# 모든 컬럼 무시 -> 컬럼명 재초기화
df_temp = pd.concat([df1, df2, df3], axis=1, ignore_index= True) # 이건 의도하지 않은 결과임. 컬럼만 추가되어서
# 실수로 인덱스 번호가 초기화 되었다고 가정하고, 다시 인덱스 번호를 부여하기 위해 df.columns를 이용
df_temp.columns = [ 'A', 'B', 'C', 'D', 'A', 'B', 'C', 'D','A', 'B', 'C', 'D'] 
# 이렇게 df.columns 를 이용해서 내가 부여하고 싶은 컬럼명을 부여 !!
df_temp

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

# 6. 공통 열과 공통 인덱스만 연결하기

In [70]:
# 각 데이터프레임의 컬럼명 재할당

df1.columns = ['A', 'B', 'C', 'D']
df2.columns = ['E', 'F', 'G', 'H']
df3.columns = ['A', 'C', 'F', 'H']

print(df1)
print('-' * 80)
print(df2)
print('-' * 80)
print(df3)
print('-' * 80)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
--------------------------------------------------------------------------------
    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
--------------------------------------------------------------------------------
     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
--------------------------------------------------------------------------------

In [73]:
# pandas.concat() 메소드는 default, 수직적 결합수행(axis=0, UNION)

row_concat = pd.concat([df1, df2, df3]) # axis 랑 ignore 안했으니까 기본값 수직결합
row_concat # 데이터 이상하게 나옴. 결측치 많이 발생.

<ipython-input-73-451cc42f31e0>:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  row_concat = pd.concat([df1, df2, df3]) # axis 랑 ignore 안했으니까 기본값 수직결합

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [78]:
print(pd.concat([df1, df2, df3], join = 'inner')) # 동등비교 조인인데, 비교했을 때, 동등한 컬럼이 하나도 없기때문에
# 비어있는 dataframe으로 결합됨. 행은 하나도 없게 됨.

print(df1)
print('-' * 40)
print(df2)
print('-' * 40)
print(df3)
print('-' * 40)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]
    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
----------------------------------------
    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
----------------------------------------
     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
----------------------------------------

In [81]:
# inner join 연결은, 지정된 여러 데이터프레임의 공통열(common columns)
# 을 찾아서, concat 메소드가 지정된 축방향(axis)으로 연결시킴
print(pd.concat([df1,df3], ignore_index=False, join='inner')) # 공통 열을 찾아서 수직결합 시켜라 라는 의미

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [83]:
df1.index = [0,1,2,3]
df2.index = [4,5,6,7]
df3.index = [0,2,5,7] # 공통되게 0123으로 되어있던 인덱스 번호도 각각 수정할 수 있음.
# 공통 행을 찾아서 수평 결합시키기 !!  
# df3은 df1 과 df2의 2개씩만 공통

print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [87]:
# axis = 1로, 여러 데이터프레임을 연결시킬 때 (수평적 결합), 
# 주의할 사항은, 지정된 여러 데이터프레임의 인덱스 번호가 일치해야 한다 !
# 일치하지 않으면, 예상치 않았던, 대량의 결측치가 발생하고,
# 각 데이터 프레임의 인덱스 번호를 유지하려는 메소드의 성질상,
# 마치, 수평이 아닌 수직적 결합의 부작용이 발생하게 됨.
col_concat = pd.concat([df1, df2, df3], axis = 1) # 결측치가 다량으로 생성. 비추 !
print(col_concat) # 복잡하므로 그냥 이건 모르는게 나음.

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [92]:
# 여러 데이터프레임에, join 'inner' 수행할 때, 이 매개변수의 효과는
# ignore_index=True 와 마찬가지로, axis 매개변수의 지정방향을 따라서
# 효과를 냅니다. 
# 1) axis = 0 (default, Y축) -> 수직적 결합 -> 공통 열만 찾아서...
# 2) axis = 1 (X축) -> 수평적 결합 -> 공통 인덱스만 찾아서...

print(pd.concat([df1, df3], axis=1, join='inner')) # 공통 인덱스만 찾아서 조인 !! axis가 1이라서 !

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

# merge 메서드 사용하기

In [93]:
# pandas.concat() 메소드와 dataFrame.merge() 메소드의 차이점
# 가. concat() 메소드는, 여러 데이터프레임의 연결방향을 조정가능
#     즉, 수평적(axis=1) 또는 수직적(axis=0) 결합을 선택가능
# 나. merge() 메소드는, SQL의 join과 같이, 수평적 결합만 수행
# 다. merge() 메소드는, 여러 데이터프레임의 수평적 결합 전용 메소드
# 라. merge() 메소드는,
#     a. 디폴트로, 내부에서 inner join 수행
#     b. merge() 메소드를 호출한 데이터프레임을 기준(left)으로 지정
#     c. merge() 메소드에 인자로 지정한 데이터프레임을 연결(right)대상 
#        데이터프레임으로 지정
#     d. left 데이터프레임과 Right 데이터프레임의 지정된 공통 열의
#        값이 일치하는 행들만 추출하게 됨 (연결기준 : left 데이터프레임)

In [96]:
person = pd.read_csv('../doit_pandas/data/survey_person.csv') # 관측자 
site = pd.read_csv('../doit_pandas/data/survey_site.csv') # 관측 위치
survey = pd.read_csv('../doit_pandas/data/survey_survey.csv')  # 날씨 정보
visited = pd.read_csv('../doit_pandas/data/survey_visited.csv') # 관측 날짜

print(person)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [97]:
print(site)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [98]:
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [99]:
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [102]:
visited_subset = visited.loc[[0,2,6], ] # 0, 2, 6 인덱스 번호를 갖고있는 행만 따로 빼냄. 
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [106]:
o2o_merge = site.merge( # merge로 호출한 site가 left(기준)이 되고, visited_subset이 right(연결대상)이 됨.
    visited_subset,
    # 동등조인 조건 설정(두 데이터 프레임이 갖고 있는 공통 열을 각각 지정)
    left_on='name',
    right_on='site'
)
print(o2o_merge)
# 수직적 결합을 할땐, 컬럼의 갯수가 같다는 상황에서만 concat를 쓰고
# 수평적 결합을 할땐, 보통 merge를 사용하기 !!

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [107]:
# 두 번째 merge 
m2o_merge = site.merge(visited, left_on = 'name', right_on = 'site')
print(m2o_merge) # 값이 일치하는것만 뽑아냄..(merge의 특성)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14