# 직접 해보세요!
## groupby 메서드로 평균값 구하기(218쪽)

In [125]:
import pandas as pd 
df = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep='\t')
df.head()
df.tail() # 행 갯수 파악 가능
df.info() # 결측치가 없음을 확인할 수 있음. 행의 갯수 1704인데 컬럼 모두다 1704개 있어서.
# 연속형 변수에 대해서 그룹바이하면 안됨 !

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [5]:
meanLifeExp = df.groupby('year')['lifeExp'].mean() # 모든 행을 연도를 기준으로 모아서 특정 컬럼명 평균을 구한다. (연도별 평균 기대수명)

print(meanLifeExp) # 시리즈 형태로 그룹된 데이터가 나옴.

# avg_life_exp_by_year = df.groupby('year')['lifeExp'].mean()
# print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 직접 해보세요!
## 분할-반영-결합 과정 살펴보기(216쪽) (그룹바이하면 분할 반영 결합 3과정 거침)

In [6]:
# Series.unique() : 고유한 데이터를 리스트로 반환
# Series.unuique() : 고유한 값의 개수를 반환

years = df.year.unique() # df에서 year 컬럼 선택. unique라는 메소드 선택( 중복되지 않은 고유한 값만 추출 후 리스트로만들어줌 )
years # 이렇게 출력해야 타입도 나옴.
# print(years)

for year in years:
    print(year)
    pass

1952
1957
1962
1967
1972
1977
1982
1987
1992
1997
2002
2007

In [7]:
# 특정연도(1952년)에 해당하는 행들만 따로 추출
df.year == 1952 
# Vector 연산의 결과 ---> 왼쪽 피연산자(vector)와 동일한 타입의 객체
# 가 산출되고, 그 안의 데이터는 모두 True or False로 구성됨

0        True
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Name: year, Length: 1704, dtype: bool

In [8]:
# 이거 자세히 설명하기 위해 위에서부터 따로 분해해서 설명

# y1952 = df.loc[df.year == 1952, :]  # 1st method (인덱스 번호 쓰는 loc에 콤마 왼쪽엔 행, 오른쪽엔 열. 그리고 불린추출!! )
# y1952 # 불린추출 후 year 이 1952인 데이터 추출

# y1952 = [df.year == 1952] # 2nd method
# y1952 = df.loc[ df.year == 1952] # 3rd method
# y1952 = df.iloc[ df.year == 1952] # 4rd method # df.iloc 속성에는, Boolean 추출을 적용 불가 !! (주의)
y1952 = df.loc[df.year == 1952, ] # 5rd method

y1952

# print(y1952.head()) # 특정 연도 하나에 해당되는 행들만 모아보자. (불린추출)

                 country continent  year  lifeExp       pop    gdpPercap
0            Afghanistan      Asia  1952   28.801   8425333   779.445314
12               Albania    Europe  1952   55.230   1282697  1601.056136
24               Algeria    Africa  1952   43.077   9279525  2449.008185
36                Angola    Africa  1952   30.015   4232095  3520.610273
48             Argentina  Americas  1952   62.485  17876956  5911.315053
...                  ...       ...   ...      ...       ...          ...
1644             Vietnam      Asia  1952   40.412  26246839   605.066492
1656  West Bank and Gaza      Asia  1952   43.160   1030585  1515.592329
1668         Yemen, Rep.      Asia  1952   32.548   4963829   781.717576
1680              Zambia    Africa  1952   42.038   2672000  1147.388831
1692            Zimbabwe    Africa  1952   48.451   3080907   406.884115

[142 rows x 6 columns]

In [12]:
# y1952_mean = y1952.lifeExp.mean() # 1st.method
y1952_mean = y1952['lifeExp'].mean() # 2nd.method(정석) # 대괄호 열고 그 안에 컬럼명 넣는게 정석
# 1952년도의 평균 기대수명
y1952_mean

49.057619718309866

In [13]:
y1957 = df.loc[df.year == 1957, :]  # 각각의 연도를 분할, 처리
y1957_mean = y1957.lifeExp.mean( )
# print(y1957_mean)

y1962 = df.loc[df.year == 1962, :] 
y1962_mean = y1962.lifeExp.mean( )
# print(y1962_mean)

y2007 = df.loc[df.year == 2007, :] 
y2007_mean = y2007.lifeExp.mean( )
# print(y2007_mean)

print('{}. mean: {}'.format(1952, y1952_mean))
print('{}. mean: {}'.format(1957, y1957_mean))
print('{}. mean: {}'.format(1962, y1962_mean))
print('{}. mean: {}'.format(2007, y2007_mean))

1952. mean: 49.057619718309866
1957. mean: 51.50740112676056
1962. mean: 53.609249014084504
2007. mean: 67.00742253521126

In [14]:
# Step.3 : 결합과정(반영과정의 각 결과를 하나로 모으는 과정) # 데이터프레임으로 만들자. 시리즈처럼 보이게 하기 위해 하나 컬럼 이름은 빈문자열로.
df2 = pd.DataFrame({
    "year":[1952, 1957, 1962, 2007], 
    "":[y1952_mean, y1957_mean,y1962_mean,y2007_mean] # 아까 위에서 불편했던 컬럼명이 아래에오는걸
    # 극복하고자 컬럼명을 지정할 수 있게.
}) 

print(df2)

   year
0  1952  49.057620
1  1957  51.507401
2  1962  53.609249
3  2007  67.007423

# 직접 해보세요!
## 평균값을 구하는 사용자 함수와 groupby 메서드(219쪽)

In [17]:
# 각 그룹데이터에 대한 집계를 구하는 사용자 정의 집계 함수

def my_mean(vector): # 벡터가 들어올 것이다 가정
    
    
    n = len(vector)
    
    sum = 0 
    for vec in vector: 
        sum += vec
        
    return sum / n

In [18]:
# Group Object 생성
obj = df.groupby('year') # 그룹 오브젝트로 만들기.

print( type(obj) )
print('-' * 50)
obj

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
--------------------------------------------------

In [19]:
groupObj = df.groupby('year') # 데이터프레임. . 맞음

agg_my_mean = groupObj.lifeExp.agg(my_mean) # agg(집계 메소드). 기대수명 컬럼 선택해서 mean 쓰지 않고 우리만의 집계 함수 쓰자.
# (agg 쓰면 우리가 만든 함수 쓸 수 있다는 말인가 ??) 
# apply랑 차이가..? 집계 차이점인가 ?
# agg 메소드는 groupobj가 갖고 있는 연도별로 기대수명을 모아서 시리즈 데이터를 my_mean에 넘겨서 반환한다!.

print(agg_my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 두 개의 인잣값을 받아 처리하는 사용자 함수와 groupby 메서드

In [27]:
def my_mean_diff(vector, diff_value): # diff_value는 차이를 구할 값 ! (평균에서 다음 값을 뺀다)
    print('-'*40)
    print(' my_mean_diff(vector) invoked. vector.')
    print('-'*40)
    print('\t+ type(vector):', type(vector))
    print('\t+ diff_value:', diff_value)
    
    n = len(vector) 
    sum = 0 
    for value in vector:
        sum += value 
    mean = sum / n 
    
    return mean - diff_value # 편차(=잔차) 구하여 반환

In [28]:
global_mean = df.lifeExp.mean()  # 평균 기대수명 구해서 글로벌에 저장.

print(global_mean)

59.474439366197174

In [29]:
agg_mean_diff = df.\
    groupby('year').\
    lifeExp.\
    agg(my_mean_diff, diff_value=global_mean) 
print(agg_mean_diff)

# 비쥬얼 스튜디오에서 원래는 . 찍고 다음 라인에 넣어도 이어짐. 여기 노트북에선 그 다음라인으로 넘어간다는 \ 표시해야함.
# 행이 이어진다는 \ 표시 해야함.
# 별표시 하나는 positional arguement
# 이렇게 도트를 기준으로 넘김 되는ㄱ ??

----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
----------------------------------------
 my_mean_diff(vector) invoked. vector.
----------------------------------------
	+ type(vector): <class 'pandas.core.series.Series'>
	+ diff_value: 59.474439366197174
year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

# 직접 해보세요!
## 집계 메서드를 리스트, 딕셔너리에 담아 전달하기(221쪽)

In [30]:
import numpy as np # numpy가 제공하는 다양한 집계 메소드를 ! 

gdf = df.groupby('year').\
    lifeExp.\
    agg([np.count_nonzero, np.mean, np.std]) # agg는 이 3개의 메소드를 시행.

print(gdf)

      count_nonzero       mean        std
year
1952          142.0  49.057620  12.225956
1957          142.0  51.507401  12.231286
1962          142.0  53.609249  12.097245
1967          142.0  55.678290  11.718858
1972          142.0  57.647386  11.381953
1977          142.0  59.570157  11.227229
1982          142.0  61.533197  10.770618
1987          142.0  63.212613  10.556285
1992          142.0  64.160338  11.227380
1997          142.0  65.014676  11.559439
2002          142.0  65.694923  12.279823
2007          142.0  67.007423  12.073021

In [31]:
gdf_dict = df.\
    groupby('year').\
    agg({
        'lifeExp': 'mean', 
        'pop': 'median', 
        'gdpPercap': 'median'
    }) # 지정된 컬럼별로, 집계산출. 여러개의 컬럼에 대해서 집계를 구할 수 있음.
        # 상당히 유용.
        # 동일한 데이터에 대해 마음대로 섞어서 사용 가능
        # 문자열로 지정하는건가 ?
print(gdf_dict)

        lifeExp         pop    gdpPercap
year
1952  49.057620   3943953.0  1968.528344
1957  51.507401   4282942.0  2173.220291
1962  53.609249   4686039.5  2335.439533
1967  55.678290   5170175.5  2678.334741
1972  57.647386   5877996.5  3339.129407
1977  59.570157   6404036.5  3798.609244
1982  61.533197   7007320.0  4216.228428
1987  63.212613   7774861.5  4280.300366
1992  64.160338   8688686.5  4386.085502
1997  65.014676   9735063.5  4781.825478
2002  65.694923  10372918.5  5319.804524
2007  67.007423  10517531.0  6124.371109

# 직접 해보세요!
## 표준점수 계산하기(223쪽)

#### 표준점수 :

### 가. 데이터의 평균과 표준편차의 차이

#### a. 표준편차란? 집단 내, 개체들의 산포도(=변동)를 나타내는 통계량 (분산의 제곱근)

#### b. 산포도란? 모집단(또는 표본)에 속하는 개체(관찰값)들의 변이 정도(=변동) 통계량

#### c. 변동(=변이정도)란?

### 나. 데이터가 표준화됨(평균:0, 표준편차:1)

a. 표준화란? 관찰값(또는 평균값)을 표준단위로 바꾸는 것

b. 표준단위란? 표준화된 편차 의미(편차/표준편차)

c. Z점수 = (관찰값 -(모)평균)/(모)표준편차=편차/(모)표준편차

### 다. Z점수(Z-score) 라고도 함 -> 표준정규분포 (Z-분포, N(0,1))를 따름

### 라. 다른 데이터와의 비교를 쉽게 만듬

In [65]:
def add(vector):   # 벡터의 각 관측치를 1씩 올려주는 변환
    
    return vector + 1  # 왼쪽은 벡터, 오른쪽은 스칼라니까 브로드캐스팅 연산(=벡터연산) 
                        # 이렇게 기존의 데이터를 다른 값으로 바꿔주는걸 변환이라함.
    pass

In [71]:
groupObj = df.groupby('year') # DataFrameGroupBy : 그룹 오브젝트
groupObjCon = df.groupby('continent') # 대륙별로 그룹 오브젝트
groupObjCont = df.groupby('country') # 국가별로 그룹 오브젝트

In [73]:
# df.groupby() 메소드로 생성된, 개별 그룹의 데이터를 추출하는 메소드
# => get_group(그룹명)
g1952 = groupObj.get_group(1952) # 1952년에 속한 행들만 추출
g1957 = groupObj.get_group(1957) # 1957년에 속한 행들만 추출
gOceania = groupObjCon.get_group('Oceania') # 오세아니아 대륙에 속하는 행들만 추출
gVietnam = groupObjCont.get_group('Vietnam') # 베트남 국가에 속하는 행들만 추출

print(g1952)
print(g1957)
print(gOceania)
print(gVietnam)

                 country continent  year  lifeExp       pop    gdpPercap
0            Afghanistan      Asia  1952   28.801   8425333   779.445314
12               Albania    Europe  1952   55.230   1282697  1601.056136
24               Algeria    Africa  1952   43.077   9279525  2449.008185
36                Angola    Africa  1952   30.015   4232095  3520.610273
48             Argentina  Americas  1952   62.485  17876956  5911.315053
...                  ...       ...   ...      ...       ...          ...
1644             Vietnam      Asia  1952   40.412  26246839   605.066492
1656  West Bank and Gaza      Asia  1952   43.160   1030585  1515.592329
1668         Yemen, Rep.      Asia  1952   32.548   4963829   781.717576
1680              Zambia    Africa  1952   42.038   2672000  1147.388831
1692            Zimbabwe    Africa  1952   48.451   3080907   406.884115

[142 rows x 6 columns]
                 country continent  year  lifeExp       pop    gdpPercap
1            Afghanistan      Asia  1957   30.332   9240934   820.853030
13               Albania    Europe  1957   59.280   1476505  1942.284244
25               Algeria    Africa  1957   45.685  10270856  3013.976023
37                Angola    Africa  1957   31.999   4561361  3827.940465
49             Argentina  Americas  1957   64.399  19610538  6856.856212
...                  ...       ...   ...      ...       ...          ...
1645             Vietnam      Asia  1957   42.887  28998543   676.285448
1657  West Bank and Gaza      Asia  1957   45.671   1070439  1827.067742
1669         Yemen, Rep.      Asia  1957   33.970   5498090   804.830455
1681              Zambia    Africa  1957   44.077   3016000  1311.956766
1693            Zimbabwe    Africa  1957   50.469   3646340   518.764268

[142 rows x 6 columns]
          country continent  year  lifeExp       pop    gdpPercap
60      Australia   Oceania  1952   69.120   8691212  10039.59564
61      Australia   Oceania  1957   70.330   9712569  10949.64959
62      Australia   Oceania  1962   70.930  10794968  12217.22686
63      Australia   Oceania  1967   71.100  11872264  14526.12465
64      Australia   Oceania  1972   71.930  13177000  16788.62948
65      Australia   Oceania  1977   73.490  14074100  18334.19751
66      Australia   Oceania  1982   74.740  15184200  19477.00928
67      Australia   Oceania  1987   76.320  16257249  21888.88903
68      Australia   Oceania  1992   77.560  17481977  23424.76683
69      Australia   Oceania  1997   78.830  18565243  26997.93657
70      Australia   Oceania  2002   80.370  19546792  30687.75473
71      Australia   Oceania  2007   81.235  20434176  34435.36744
1092  New Zealand   Oceania  1952   69.390   1994794  10556.57566
1093  New Zealand   Oceania  1957   70.260   2229407  12247.39532
1094  New Zealand   Oceania  1962   71.240   2488550  13175.67800
1095  New Zealand   Oceania  1967   71.520   2728150  14463.91893
1096  New Zealand   Oceania  1972   71.890   2929100  16046.03728
1097  New Zealand   Oceania  1977   72.220   3164900  16233.71770
1098  New Zealand   Oceania  1982   73.840   3210650  17632.41040
1099  New Zealand   Oceania  1987   74.320   3317166  19007.19129
1100  New Zealand   Oceania  1992   76.330   3437674  18363.32494
1101  New Zealand   Oceania  1997   77.550   3676187  21050.41377
1102  New Zealand   Oceania  2002   79.110   3908037  23189.80135
1103  New Zealand   Oceania  2007   80.204   4115771  25185.00911
      country continent  year  lifeExp       pop    gdpPercap
1644  Vietnam      Asia  1952   40.412  26246839   605.066492
1645  Vietnam      Asia  1957   42.887  28998543   676.285448
1646  Vietnam      Asia  1962   45.363  33796140   772.049160
1647  Vietnam      Asia  1967   47.838  39463910   637.123289
1648  Vietnam      Asia  1972   50.254  44655014   699.501644
1649  Vietnam      Asia  1977   55.764  50533506   713.537120
1650  Vietnam      Asia  1982   58.816  56142181   707.235786
1651  Vietnam      Asia  1987   62.820  62826491   820.799445
1652  Vietnam      Asia  1992   67.662  69940728   989.023149
1653  Vietnam      Asia  1997   70.672  76048996  1385.896769
1654  Vietnam      Asia  2002   73.017  80908147  1764.456677
1655  Vietnam      Asia  2007   74.249  85262356  2441.576404

In [61]:
transform_z = groupObj.get_group(1952)['lifeExp'].transform(add) # 연도별로 평균수명에 +1 한 듯 ..?
print(transform_z) # 이 결과는 연도별로 그룹핑해서 5년마다 자료로 모아져있음.

0       29.801
12      56.230
24      44.077
36      31.015
48      63.485
         ...
1644    41.412
1656    44.160
1668    33.548
1680    43.038
1692    49.451
Name: lifeExp, Length: 142, dtype: float64

In [74]:
# 이거 아래껀 넘어갔음.. 어렵다고해서

In [34]:
def my_zscore(vector): # 편차를 표준편차로 나눈거 ! 
    return (vector - vector.mean()) / vector.std() # 벡터연산의 수행결과도 벡터. 이걸 또 표준편차인 스칼라로 나눠도 결과값은 벡터.

In [19]:
transform_z = df.groupby('year').lifeExp.transform(my_zscore) # 위에 zscore는 집계 데이터 계산이 아닌, 변환이기 때문에..transform 쓰기.

# 기존의 데이터를 다른 형태로 바꾸는건 agg가 아니라 transform 을 사용해야함.

print(transform_z.head())  ## 값이 하나 나오는게 아니라 가지고 있는 값을 변환시켜줌 ?

0   -1.656854
1   -1.731249
2   -1.786543
3   -1.848157
4   -1.894173
Name: lifeExp, dtype: float64

# 직접 해보세요!
## 누락값을 평균값으로 처리하기(224쪽)

In [130]:
import seaborn as sns 
import numpy as np

# 난수값 생성시, 기준 값(이를 seed라고 함) 설정
np.random.seed(42) # seed에서 아무숫자나 정해야함. 임의의 정수값.
# np.random.seed(59) # 이거 seed값 없애거나 바꿔서 해보니 랜덤 추출 한 값 달라짐 ! !.
# 재현한 결과 중 중요한 것 다시 추출 가능 !

# tips 데이터 프레임의 행 데이터 중에서, 
# 무작위로 10개의 행들만 추출(완전확률표본추출)
tips = sns.load_dataset('tips') # 일반적으로 하던 거.
print( '1. tips.shape:',tips.shape)

tips_10 = tips.sample(10) ## load_dataset 의 메소드인 sample() 를 이용한 것임 !.
print( '2. tips_10.shape:',tips_10.shape) # 무작위로 10개 했으니 행 10개만 출력.
print(tips_10)
print('-' * 40)

# numpy의 random 모듈의 permutation() 메소드(치환)를
# 사용하여, 임의의 위치에 누락값(결측치) 생성
# permutation: (1) 순열(숫자의 열) (2) 치환(replacement)

print('tips_10.index: ',tips_10.index)
print('-' * 40)
print('np.random.permutation(tips_10.index) :', np.random.permutation(tips_10.index)) # 무작위로 섞음 ! 순서를 바꿈. 순열
print('-' * 40)

tips_10.loc[np.random.permutation(tips_10.index)[:4], 'total_bill'] = np.NaN # total_bill 이 갖고 있는 컬럼에다가
# np.NaN 결측치를 의미하는 값을 임의대로 넣은거 !  
# 하지만 np.random.permutation(순열)의미로 사용.
# 위에 있는 np.random~ ~ 결과값인 리스트에다가 

print('tips_10.loc[np.random.permutation(tips_10.index)[:4], "total_bill"] = np.NaN :',tips_10) # Nan 무작위로 넣고 배열

1. tips.shape: (244, 7)
2. tips_10.shape: (10, 7)
     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2
----------------------------------------
tips_10.index:  Int64Index([24, 6, 153, 211, 198, 176, 192, 124, 9, 101], dtype='int64')
----------------------------------------
np.random.permutation(tips_10.index) : [176 211 198 153 101   6 192 124  24   9]
----------------------------------------
tips_10.loc[np.random.permutation(tips_10.index)[:4], "total_bill"] = np.NaN :      total_bill   tip     sex smoker   day    time  size
24          NaN  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211         NaN  5.16    Male    Yes   Sat  Dinner     4
198         NaN  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124         NaN  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [131]:
count_sex = tips_10.groupby('sex').count() # count메소드는 groupobj에 대해 개별 행으로 구성되어있는 행들에 대해 카운트 함.
print(count_sex)
print('-' * 80)

# 위 아래 둘다 같은 결과를 나타내는데 표현이 다름.

groupObj = tips_10.groupby('sex')
maleGroup = groupObj.get_group('Male') 
print(maleGroup)
print('-' * 40)
print(maleGroup.count())

        total_bill  tip  smoker  day  time  size
sex
Male             5    7       7    7     7     7
Female           1    3       3    3     3     3
--------------------------------------------------------------------------------
     total_bill   tip   sex smoker   day    time  size
24          NaN  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211         NaN  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2
----------------------------------------
total_bill    5
tip           7
sex           7
smoker        7
day           7
time          7
size          7
dtype: int64

In [134]:
tips = sns.load_dataset('tips')

In [ ]:
# 결측치를 소위 변수의 대표값으로 대체시에,
# 주의해야 할 점...

# 1) 결측치를 포함하고 있는 변수를, 특정 범주에 따라
#    그룹을 만들지 않는 경우에는, 해당 변수의 소위 대표값(=특성값)으로
#    결측치를 대체할 때 일지라도, 아래의 예와 같이, 수집된 데이터의
#    구성비율이 어느 한쪽으로 편중되게 확보되어 있는지를 고려할 필요가
#    있다.!!! (*******매우 중요 *******)

# 2) 아래의 예와 같이, 결측치를 포함하고 있는 변수를,
#    처음부터, 특정범주를 고려하여 그룹을 만들고, 분석하는 경우에는,
#    범주를 제공하는 지정된 변수의 그룹별, 데이터의 구성을 보고,
#    반드시 각 범주별 데이터의 구성비율이 역시 어느 한쪽으로 편중되어
#    있지 않은지 확인필요  (*******매우 중요 ********)

In [132]:
# 인자로 들어온 x 로부터, 
# 1) 평균을 구하고, 
# 2) 결측치를 평균으로 대체

def fill_na_mean(vector): # 
    avg = vector.mean() 
    print('- avg:', avg)
    
    return vector.fillna(avg)

In [138]:
tips_10.groupby('sex').count().reset_index() # reset_index 하면 보기 편하게 나옴.


# 시리즈(Series)가 제공하는 변환메소드인 transform()을
# 이용하여, 사용자 정의 함수 적용시켜, 기존 데이터를 *변환*함
# df_transformed = tips_10.total_bill.transform(fill_na_mean)
# df_transformed

# groupObj = tips_10.groupby('sex')
# df_transformed = groupObj.total_bill.transform(fill_na_mean)
# df_transformed
# total_bill_group_mean = tips_10.groupby('sex').total_bill.transform(fill_na_mean)

# tips_10['fill_total_bill'] = df_transformed
# print(tips_10)

      sex  total_bill  tip  smoker  day  time  size
0    Male           5    7       7    7     7     7
1  Female           1    3       3    3     3     3

# 데이터 필터링 사용하기 ─ filter 메서드

# 그룹 오브젝트 저장하여 살펴보기

# 그룹 오브젝트의 평균 구하기

# 그룹 오브젝트에서 데이터 추출하고 반복하기

# 그룹 오브젝트 계산하고 살펴보기