In [5]:
import pandas as pd
df = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep='\t')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [11]:
pop = df['pop']
# pop = df.pop # 한개의 열만 추출 / but, pop라는 함수가 이미 존재하기때문에 이거 안됨.
# 도트연산자로 불러올 때 데이터 타입이 갖고 있는 내부 속성과 컬럼 이름 충돌 가능.

In [15]:
pop.head()

0     8425333
1     9240934
2    10267083
3    11537966
4    13079460
Name: pop, dtype: int64

In [16]:
pop.tail()

1699     9216418
1700    10704340
1701    11404948
1702    11926563
1703    12311143
Name: pop, dtype: int64

In [17]:
type(pop)

pandas.core.series.Series

In [18]:
pop.min() # pop 시리즈가 갖고 있는 가장 작은 값. (통계량으로 생각해야함!)

60011

In [19]:
pop.max()

1318683096

In [20]:
pop.mean()

29601212.324530516

In [21]:
pop.median()

7023595.5

In [22]:
pop.std()

106157896.74391477

In [23]:
pop.var()

1.126949904109167e+16

In [24]:
pop.sum()

50440465801

In [25]:
pop.nunique()

1704

In [26]:
pop.quantile()

7023595.5

In [30]:
pop.quantile(.8) # 분위수 값에는 0 ~ 1 을 넣어야함. 80%는 .8 임

25757626.200000007

In [32]:
pop.kurtosis() # 첨도

77.94820336885383

In [33]:
pop.skew() #

8.340217715355305

In [34]:
pop.rank()

0        943.0
1        999.0
2       1067.0
3       1129.0
4       1169.0
         ...
1699     995.0
1700    1097.0
1701    1122.0
1702    1139.0
1703    1146.0
Name: pop, Length: 1704, dtype: float64

In [35]:
pop.describe() # 뒤에 숫자들은 과학적 표기법

count    1.704000e+03
mean     2.960121e+07
std      1.061579e+08
min      6.001100e+04
25%      2.793664e+06
50%      7.023596e+06
75%      1.958522e+07
max      1.318683e+09
Name: pop, dtype: float64

In [36]:
pop

0        8425333
1        9240934
2       10267083
3       11537966
4       13079460
          ...
1699     9216418
1700    10704340
1701    11404948
1702    11926563
1703    12311143
Name: pop, Length: 1704, dtype: int64

In [37]:
df.min()

country      Afghanistan
continent         Africa
year                1952
lifeExp           23.599
pop                60011
gdpPercap        241.166
dtype: object

In [38]:
df.max()

country        Zimbabwe
continent       Oceania
year               2007
lifeExp          82.603
pop          1318683096
gdpPercap        113523
dtype: object

In [39]:
df.mean() # 숫자형태의 컬럼만 평균값 뽑아냄.

year         1.979500e+03
lifeExp      5.947444e+01
pop          2.960121e+07
gdpPercap    7.215327e+03
dtype: float64

In [40]:
df.median() # 정렬 이후에 중간값 뽑아냄. 여기도 문자열은 없음.

year         1.979500e+03
lifeExp      6.071250e+01
pop          7.023596e+06
gdpPercap    3.531847e+03
dtype: float64

In [41]:
df.std()

year         1.726533e+01
lifeExp      1.291711e+01
pop          1.061579e+08
gdpPercap    9.857455e+03
dtype: float64

In [42]:
df.var()

year         2.980916e+02
lifeExp      1.668517e+02
pop          1.126950e+16
gdpPercap    9.716941e+07
dtype: float64

In [43]:
df.sum()

country      AfghanistanAfghanistanAfghanistanAfghanistanAf...
continent    AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAs...
year                                                   3373068
lifeExp                                                 101344
pop                                                50440465801
gdpPercap                                          1.22949e+07
dtype: object

In [44]:
df.nunique()

country       142
continent       5
year           12
lifeExp      1626
pop          1704
gdpPercap    1704
dtype: int64

In [45]:
df.quantile() #  기본 분위수는 50% (.5)

year         1.979500e+03
lifeExp      6.071250e+01
pop          7.023596e+06
gdpPercap    3.531847e+03
Name: 0.5, dtype: float64