In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep = '\t') # 이렇게 위로 올라갔다가 내려가는 방식으로 ! 
# Temp 폴더에서 pandas_workssapce로 올라갔다가 다시 내려오게 !

In [5]:
country = df['country']
country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [6]:
country = df.country
country # 갖고 있는 컬럼만 출력하려 할때, 자기가 구성하고 있는 컬럼을 다 
# 속성으로 갖고 있음. 단일 열만 뽑아낼 때 이것만 쉽고, 복합으로 뽑아낼 땐 
# 대괄호 문법을 사용해야함!

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [7]:
country_pop = df[ {'country', 'pop'} ]
country_pop

           pop      country
0      8425333  Afghanistan
1      9240934  Afghanistan
2     10267083  Afghanistan
3     11537966  Afghanistan
4     13079460  Afghanistan
...        ...          ...
1699   9216418     Zimbabwe
1700  10704340     Zimbabwe
1701  11404948     Zimbabwe
1702  11926563     Zimbabwe
1703  12311143     Zimbabwe

[1704 rows x 2 columns]

In [8]:
type(country_pop)

pandas.core.frame.DataFrame

In [9]:
df.info() # 한 개 열씩 뽑아내기.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [10]:
continent = df.continent # 뽑아내기 연습 ! 이건 도트연산자 ! 
continent

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
1699    Africa
1700    Africa
1701    Africa
1702    Africa
1703    Africa
Name: continent, Length: 1704, dtype: object

In [11]:
continent_set  = df[ {'continent', 'pop'} ]
continent_set

     continent       pop
0         Asia   8425333
1         Asia   9240934
2         Asia  10267083
3         Asia  11537966
4         Asia  13079460
...        ...       ...
1699    Africa   9216418
1700    Africa  10704340
1701    Africa  11404948
1702    Africa  11926563
1703    Africa  12311143

[1704 rows x 2 columns]

In [15]:
column_list = [] # 추출할 컬럼을 리스트로 만들자
column_list = [ 'country' ] # 하나의 컬럼명을 집어넣음.
column_list = [ 'country', 'continent' ]
column_list = [ 'country', 'continent', 'year' ]
column_list = [ 'country', 'continent', 'year', 'lifeExp' ]
column_list = [ 'country', 'continent', 'year', 'lifeExp', 'pop']
column_list = [ 'country', 'continent', 'year', 'lifeExp' , 'pop', 'gdpPercap']
column_list = ('country' ) # 지금 이 상태는 튜플이 아님 ! 
column_list = ( 'country', 'continent' ) # 명시적으로 이렇게 콤마를 찍어줘야 튜플이 됨 !! 
# 하지만, 'country ' 이렇게 공백을 집어넣으면 안됨.

In [ ]:
type(df[column_list]) # 아무것도 지정 안했을 때 리스트로 !

In [ ]:
df [column_list ]

In [19]:
country = df.country 
country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [20]:
type(country)

pandas.core.series.Series

In [22]:
country.shape # 행의 갯수를 표현할 수 있어도 열은 표현하지 않음. 굳이 열은 표현할 필요 없어서.
# 이 자체로 시리즈임 !

(1704,)

In [24]:
country.columns # shape는 되고, columns는 안됨

AttributeError: 'Series' object has no attribute 'columns'

In [25]:
country.index

RangeIndex(start=0, stop=1704, step=1)

In [26]:
country.info()

AttributeError: 'Series' object has no attribute 'info'

In [27]:
country.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [28]:
country.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object