In [2]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [3]:
s2 = (1,2,3)
s2

(1, 2, 3)

In [4]:
s =set()
s

set()

### 교집합, 합집합, 차집합 구하기

In [5]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4,5,6,7,8,9])

In [6]:
s1 & s2

{4, 5, 6}

In [7]:
s1.intersection(s2)

{4, 5, 6}

In [8]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
s1 - s2

{1, 2, 3}

In [11]:
s2 - s1

{7, 8, 9}

# 자료형 관련 함수

### 값 1개 추가하기(add)

In [12]:
s1 = set([1, 2, 3])

In [14]:
s1.add(4)
s1

{1, 2, 3, 4}

### 값 여러개 추가하기(update)

In [15]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])

In [16]:
s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거하기

In [17]:
s1.remove(2)

In [18]:
s1

{1, 3, 4, 5, 6}